@use 'math' as *;
@use 'rhythm' as *;

/*
* Library
*/

$wrapper: 1500px !default;

@mixin wrapper($width: $wrapper) {
    margin-left: auto;
    margin-right: auto;
    max-width: $width;
    padding-left: rhythm(1);
    padding-right: rhythm(1);
}

@mixin hide-visually {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@mixin common-focus($color: currentColor) {
    outline-color: $color;
    outline-offset: rem(1px);
    outline-style: dashed;
    
    &:focus-visible {
        outline-width: rem(2px);
    }
}

@mixin clearfix {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

@mixin ruler {
    &::after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}