@use '../config' as *;
@use '../utilities/all' as *;

.recaptcha {
    height: rhythm(2);
    position: relative;
    
    &__iframe {
        left: 50%;
        position: absolute;
        transform: translateX(-50%) scale(div(63, 78));
        transform-origin: top center;
    }
}