@use '../config' as *;
@use '../utilities/all' as *;

.scroll-button {
    @include transition((box-shadow, transform));
    @include common-focus;
    
    background-color: $theme-color-1;
    border-radius: 0.5em;
    box-shadow: em(0) em(0) em(12px) em(1px) color-change($theme-color-1, $alpha: 0.75);
    position: absolute;
    right: rhythm(-1.25);
    
    
    @media screen and (max-width: $wrapper) {
        font-size: 0.875rem;
        right: rhythm(0.5);
        bottom: rhythm(0);
    }
    
    &:hover, &:focus {
        box-shadow: em(0) em(0) em(24px) em(2px) color-change($theme-color-1, $alpha: 0.75);
        transform: scale(1.1);
    }
    
    &__icon {
        @include padding(0.75em);
     
        color: white;
        height: 1.25em;
        width: 1.25em;
    }
}