/*
* CONFIG
*/
@font-face {
  font-family: "Arvin";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/arvin_bold_italic.eot");
  src: url("../fonts/arvin_bold_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arvin_bold_italic.ttf") format("truetype"), url("../fonts/arvin_bold_italic.svg") format("svg"), url("../fonts/arvin_bold_italic.woff") format("woff"), url("../fonts/arvin_bold_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Arvin";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/arvin_bold.eot");
  src: url("../fonts/arvin_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/arvin_bold.ttf") format("truetype"), url("../fonts/arvin_bold.svg") format("svg"), url("../fonts/arvin_bold.woff") format("woff"), url("../fonts/arvin_bold.woff2") format("woff2");
}
@font-face {
  font-family: "Arvin";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/arvin_italic.eot");
  src: url("../fonts/arvin_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arvin_italic.ttf") format("truetype"), url("../fonts/arvin_italic.svg") format("svg"), url("../fonts/arvin_italic.woff") format("woff"), url("../fonts/arvin_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Arvin";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/arvin_light_italic.eot");
  src: url("../fonts/arvin_light_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/arvin_light_italic.ttf") format("truetype"), url("../fonts/arvin_light_italic.svg") format("svg"), url("../fonts/arvin_light_italic.woff") format("woff"), url("../fonts/arvin_light_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Arvin";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/arvin_light.eot");
  src: url("../fonts/arvin_light.eot?#iefix") format("embedded-opentype"), url("../fonts/arvin_light.ttf") format("truetype"), url("../fonts/arvin_light.svg") format("svg"), url("../fonts/arvin_light.woff") format("woff"), url("../fonts/arvin_light.woff2") format("woff2");
}
@font-face {
  font-family: "Arvin";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/arvin.eot");
  src: url("../fonts/arvin.eot?#iefix") format("embedded-opentype"), url("../fonts/arvin.ttf") format("truetype"), url("../fonts/arvin.svg") format("svg"), url("../fonts/arvin.woff") format("woff"), url("../fonts/arvin.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/intro_thin_regular.eot");
  src: url("../fonts/intro_thin_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_thin_regular.ttf") format("truetype"), url("../fonts/intro_thin_regular.svg") format("svg"), url("../fonts/intro_thin_regular.woff") format("woff"), url("../fonts/intro_thin_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/intro_thin_italic_italic.eot");
  src: url("../fonts/intro_thin_italic_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_thin_italic_italic.ttf") format("truetype"), url("../fonts/intro_thin_italic_italic.svg") format("svg"), url("../fonts/intro_thin_italic_italic.woff") format("woff"), url("../fonts/intro_thin_italic_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/intro_regular_regular.eot");
  src: url("../fonts/intro_regular_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_regular_regular.ttf") format("truetype"), url("../fonts/intro_regular_regular.svg") format("svg"), url("../fonts/intro_regular_regular.woff") format("woff"), url("../fonts/intro_regular_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/intro_regular_italic_italic.eot");
  src: url("../fonts/intro_regular_italic_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_regular_italic_italic.ttf") format("truetype"), url("../fonts/intro_regular_italic_italic.svg") format("svg"), url("../fonts/intro_regular_italic_italic.woff") format("woff"), url("../fonts/intro_regular_italic_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/intro_light_regular.eot");
  src: url("../fonts/intro_light_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_light_regular.ttf") format("truetype"), url("../fonts/intro_light_regular.svg") format("svg"), url("../fonts/intro_light_regular.woff") format("woff"), url("../fonts/intro_light_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/intro_light_italic_italic.eot");
  src: url("../fonts/intro_light_italic_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_light_italic_italic.ttf") format("truetype"), url("../fonts/intro_light_italic_italic.svg") format("svg"), url("../fonts/intro_light_italic_italic.woff") format("woff"), url("../fonts/intro_light_italic_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/intro_book_regular.eot");
  src: url("../fonts/intro_book_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_book_regular.ttf") format("truetype"), url("../fonts/intro_book_regular.svg") format("svg"), url("../fonts/intro_book_regular.woff") format("woff"), url("../fonts/intro_book_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/intro_book_italic_italic.eot");
  src: url("../fonts/intro_book_italic_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_book_italic_italic.ttf") format("truetype"), url("../fonts/intro_book_italic_italic.svg") format("svg"), url("../fonts/intro_book_italic_italic.woff") format("woff"), url("../fonts/intro_book_italic_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/intro_bold_regular.eot");
  src: url("../fonts/intro_bold_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_bold_regular.ttf") format("truetype"), url("../fonts/intro_bold_regular.svg") format("svg"), url("../fonts/intro_bold_regular.woff") format("woff"), url("../fonts/intro_bold_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/intro_bold_italic_italic.eot");
  src: url("../fonts/intro_bold_italic_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_bold_italic_italic.ttf") format("truetype"), url("../fonts/intro_bold_italic_italic.svg") format("svg"), url("../fonts/intro_bold_italic_italic.woff") format("woff"), url("../fonts/intro_bold_italic_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/intro_black_regular.eot");
  src: url("../fonts/intro_black_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_black_regular.ttf") format("truetype"), url("../fonts/intro_black_regular.svg") format("svg"), url("../fonts/intro_black_regular.woff") format("woff"), url("../fonts/intro_black_regular.woff2") format("woff2");
}
@font-face {
  font-family: "Intro";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/intro_black_italic_italic.eot");
  src: url("../fonts/intro_black_italic_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_black_italic_italic.ttf") format("truetype"), url("../fonts/intro_black_italic_italic.svg") format("svg"), url("../fonts/intro_black_italic_italic.woff") format("woff"), url("../fonts/intro_black_italic_italic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensans-bold.eot");
  src: url("../fonts/opensans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold.ttf") format("truetype"), url("../fonts/opensans-bold.svg") format("svg"), url("../fonts/opensans-bold.woff") format("woff"), url("../fonts/opensans-bold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/opensans-bolditalic.eot");
  src: url("../fonts/opensans-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bolditalic.ttf") format("truetype"), url("../fonts/opensans-bolditalic.svg") format("svg"), url("../fonts/opensans-bolditalic.woff") format("woff"), url("../fonts/opensans-bolditalic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/opensans-italic.eot");
  src: url("../fonts/opensans-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-italic.ttf") format("truetype"), url("../fonts/opensans-italic.svg") format("svg"), url("../fonts/opensans-italic.woff") format("woff"), url("../fonts/opensans-italic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensans-light.eot");
  src: url("../fonts/opensans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light.ttf") format("truetype"), url("../fonts/opensans-light.svg") format("svg"), url("../fonts/opensans-light.woff") format("woff"), url("../fonts/opensans-light.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/opensans-lightitalic.eot");
  src: url("../fonts/opensans-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-lightitalic.ttf") format("truetype"), url("../fonts/opensans-lightitalic.svg") format("svg"), url("../fonts/opensans-lightitalic.woff") format("woff"), url("../fonts/opensans-lightitalic.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans-regular.eot");
  src: url("../fonts/opensans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular.ttf") format("truetype"), url("../fonts/opensans-regular.svg") format("svg"), url("../fonts/opensans-regular.woff") format("woff"), url("../fonts/opensans-regular.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/opensans-semibold.eot");
  src: url("../fonts/opensans-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold.ttf") format("truetype"), url("../fonts/opensans-semibold.svg") format("svg"), url("../fonts/opensans-semibold.woff") format("woff"), url("../fonts/opensans-semibold.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/opensans-semibolditalic.eot");
  src: url("../fonts/opensans-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibolditalic.ttf") format("truetype"), url("../fonts/opensans-semibolditalic.svg") format("svg"), url("../fonts/opensans-semibolditalic.woff") format("woff"), url("../fonts/opensans-semibolditalic.woff2") format("woff2");
}
* {
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: top;
}

html {
  scroll-behavior: smooth;
  -webkit-text-align-adjust: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fafafa;
  color: #1a1a1a;
  font-family: "Intro", sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  overflow-x: hidden;
}

ol, ul {
  list-style-type: none;
}

button {
  background: transparent;
  cursor: pointer;
  text-transform: inherit;
  -webkit-appearance: button;
}

input, textarea {
  background: transparent;
  height: 1.5rem;
  width: 100%;
}

svg {
  fill: currentColor;
}

h1 {
  font-size: 2.0581710273rem;
  line-height: 1.0932036115;
}

h2 {
  font-size: 1.6180339888rem;
  line-height: 1.3905764747;
}

h3 {
  font-size: 1.2720196495rem;
  line-height: 1.1792270666;
}

a, abbr {
  text-decoration: none;
}

b, strong {
  font-weight: 600;
}

i, em {
  font-style: italic;
}

/*
* New component
*/
.loader {
  background-color: white;
  bottom: 0;
  font-size: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition-property: opacity, visibility;
  transition-duration: 500ms;
  z-index: 2;
}
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.loader__image {
  height: auto;
  vertical-align: middle;
  width: 15rem;
}

.top-bar {
  color: white;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
@media (max-width: 899px) {
  .top-bar {
    padding-top: 1.5rem;
  }
}
.top-bar__heading {
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  width: 0.0625rem;
  white-space: nowrap;
}
.top-bar__list {
  font-size: 0.7861513778rem;
  line-height: 1.9080294743;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 71.875rem;
  padding-top: 1.5rem;
  text-align: right;
}
@media (max-width: 899px) {
  .top-bar__list {
    display: none;
  }
}
.top-bar__item {
  display: inline-block;
}
.top-bar__item:first-of-type::after {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  content: "|";
}
.top-bar__link {
  position: relative;
}
.top-bar__link::after {
  background-color: currentColor;
  bottom: -0.3125rem;
  content: "";
  left: 0;
  height: 0.125rem;
  max-width: 0;
  position: absolute;
  transition-duration: 250ms;
  transition-property: max-width;
  width: 100%;
}
.top-bar__link:hover::after, .top-bar__link:focus::after {
  max-width: 100%;
}
.top-bar__icon {
  height: 1.5em;
  margin-right: 0.25em;
  vertical-align: -0.4375em;
  width: auto;
}

.logo {
  display: block;
  height: 100%;
}
.logo:focus {
  outline-color: currentColor;
  outline-offset: 0.125rem;
  outline-style: dashed;
  outline-width: 0.0625rem;
}
.logo__image {
  height: 100%;
  width: auto;
}

.header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 71.875rem;
  text-align: justify;
}
.header::after {
  content: "";
  display: inline-block;
  width: 100%;
}
.header__logo {
  display: inline-block;
  height: 6.75rem;
  vertical-align: middle;
}
@media (max-width: 37.4375rem) {
  .header__logo {
    height: 3.75rem;
    position: relative;
    z-index: 1;
  }
}
.header__button {
  display: inline-block;
  height: 3rem;
  position: relative;
  vertical-align: middle;
  z-index: 1;
}
@media (min-width: 900px) {
  .header__button {
    display: none;
  }
}
.header__icon {
  height: 100%;
  width: auto;
}
.header__icon path {
  transform-origin: center;
  transition-duration: 500ms;
  transition-property: transform;
}
.header__button--active .header__icon path:nth-of-type(1) {
  transform: rotateZ(45deg) translate(0%, 20%);
}
.header__button--active .header__icon path:nth-of-type(2) {
  transform: rotateZ(45deg) translate(0%, -20%);
}
.header__button--active .header__icon path:nth-of-type(3) {
  transform: rotateZ(-45deg);
}
.header__menu {
  display: inline-block;
  vertical-align: middle;
}

.menu-contact {
  font-size: 1rem;
  line-height: 1.5;
}
.menu-contact__heading {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  margin-top: 1.5rem;
  text-transform: uppercase;
}
.menu-contact__list {
  margin-top: 0.75rem;
}
.menu-contact__item {
  margin-top: 0.1875rem;
}
.menu-contact__icon {
  height: 1.5em;
  margin-right: 0.25em;
  vertical-align: -0.4375em;
  width: auto;
}

@media (max-width: 899px) {
  .menu {
    padding: 9rem 1.5rem;
    background-color: #896d48;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition-duration: 500ms;
    transition-property: transform;
    width: 22.5rem;
  }
  .header__button--active + .menu {
    transform: translateX(0%);
  }
}
@media (max-width: 599px) {
  .menu {
    width: 100%;
  }
}
@media (min-width: 900px) {
  .menu__contact {
    display: none;
  }
}
.menu__heading {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
  text-transform: uppercase;
}
@media (min-width: 900px) {
  .menu__heading {
    clip-path: inset(50%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    width: 0.0625rem;
    white-space: nowrap;
  }
}
@media (min-width: 900px) {
  .menu__list {
    margin-left: -2.25rem;
    margin-right: -2.25rem;
  }
}
@media (max-width: 899px) {
  .menu__list {
    margin-top: 0.75rem;
  }
}
@media (min-width: 900px) {
  .menu__item {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
    display: inline-block;
  }
}
@media (max-width: 899px) {
  .menu__item {
    margin-top: 0.1875rem;
  }
}
.menu__link {
  position: relative;
}
.menu__link::after {
  background-color: currentColor;
  bottom: -0.3125rem;
  content: "";
  left: 0;
  height: 0.125rem;
  max-width: 0;
  position: absolute;
  transition-duration: 250ms;
  transition-property: max-width;
  width: 100%;
}
.menu__link:hover::after, .menu__link:focus::after {
  max-width: 100%;
}

.banner-text {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 71.875rem;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  height: 100%;
  position: relative;
}
.banner-text__content {
  padding-bottom: 1.875rem;
  padding-top: 1.875rem;
  font-size: 2.6180339888rem;
  line-height: 1.1458980338;
  background-color: rgba(0, 0, 0, 0.75);
  border-top-left-radius: 4.5rem 4.5rem;
  margin-right: -31.25rem;
  padding-right: 31.25rem;
  position: absolute;
  right: 1.5rem;
  text-align: right;
  text-transform: lowercase;
  transform: translateY(50%);
  opacity: 0;
  top: 75%;
  width: 30rem;
  transition: all 500ms 1000ms;
}
.banner-text__content.banner__item--show {
  transform: translateY(-50%);
  opacity: 1;
}
.banner-text__content::first-line {
  font-size: 2.3212844944rem;
  line-height: 1.292387903;
  display: block;
  padding-bottom: 0.375rem;
  font-weight: 300;
  font-family: "Arvin", "Open Sans", sans-serif;
  font-style: italic;
}
@media (max-width: 37.4375rem) {
  .banner-text__content {
    font-size: 1.4346327151rem;
    line-height: 1.0455637768;
    width: 18.75rem;
  }
  .banner-text__content::first-line {
    font-size: 1.2720196495rem;
    line-height: 1.1792270666;
  }
}

.banner {
  height: 100vh;
  min-height: 37.5rem;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.banner__heading {
  padding: 1.875rem 1.5rem;
  font-size: 2.6180339888rem;
  line-height: 1.1458980338;
  background-color: rgba(0, 0, 0, 0.75);
  border-top-left-radius: 4.5rem 4.5rem;
  color: white;
  position: absolute;
  right: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-align: right;
  text-transform: lowercase;
  top: 75%;
  transform: translateY(-50%);
  width: 30rem;
}
.banner__heading::first-line {
  font-size: 2.3212844944rem;
  line-height: 1.292387903;
  display: block;
  padding-bottom: 0.375rem;
  font-weight: 300;
  font-family: "Arvin", "Open Sans", sans-serif;
  font-style: italic;
}
.banner__list {
  margin-left: -0.0625rem;
  margin-right: -0.0625rem;
  bottom: 0;
  font-size: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.banner__item {
  border-color: #404040;
  border-style: solid;
  border-width: 0 0.0625rem;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  position: relative;
  transition-property: transform;
  transition-duration: 1000ms;
  transform: translateY(-100%);
  width: 33.3333333333%;
}
@media (max-width: 600px) {
  .banner__item {
    display: none;
  }
  .banner__item:nth-of-type(2) {
    width: 100%;
  }
}
.banner__item:nth-of-type(2) {
  transition-delay: 200ms;
}
.banner__item:nth-of-type(3) {
  transition-delay: 400ms;
}
.banner__item--show {
  transform: translateY(0);
}
.banner__item::after {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8619533528) 33.7463556851%, rgba(0, 0, 0, 0.7609329446) 52.6239067055%, rgba(0, 0, 0, 0.6166180758) 61.6618075802%, rgba(0, 0, 0, 0.4486880466) 65.889212828%, rgba(0, 0, 0, 0.2768221574) 70.3352769679%, rgba(0, 0, 0, 0.1206997085) 80.029154519%, rgba(0, 0, 0, 0) 100%);
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.banner__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.banner .span {
  color: white;
  font-size: 0.7861513778rem;
  line-height: 1.9080294743;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.banner .span svg {
  animation: svg-on 1000ms infinite;
  margin-top: -0.75rem;
  height: 2.25rem;
}

@keyframes svg-on {
  from {
    opacity: 0;
    transform: translateY(-0.1875rem);
  }
  to {
    transform: translateY(0.375rem);
    opacity: 1;
  }
}
.intro {
  background-image: url(../img/mark.svg);
  background-position: -12.5vw center;
  background-repeat: no-repeat;
  background-size: auto 130%;
}
.intro__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 71.875rem;
  padding-top: 6rem;
}
@media (max-width: 56.1875rem) {
  .intro__wrapper {
    padding-top: 3rem;
  }
}
.intro__background {
  font-size: 0.7861513778rem;
  line-height: 2.8620442114;
  padding: 4.5rem 1.5rem 10.5rem 7.5rem;
  background-color: #d7d7d5;
  margin-left: 15%;
  position: relative;
  width: auto;
}
@media (max-width: 56.1875rem) {
  .intro__background {
    padding: 3rem 1.5rem;
    margin-left: 0rem;
  }
}
@media (max-width: 37.4375rem) {
  .intro__background {
    font-size: 0.6970425179rem;
    line-height: 2.1519490727;
  }
}
.intro__heading {
  padding: 3.75rem 1.5rem;
  font-size: 1.2720196495rem;
  line-height: 1.7688406;
  background-color: #896d48;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25), 0 0 0.3125rem 0 rgba(0, 0, 0, 0.375);
  box-sizing: border-box;
  border-bottom-right-radius: 2.5rem;
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: -4.5rem;
  transform: translateX(-50%);
  width: 10rem;
}
@media (max-width: 899px) {
  .intro__heading {
    margin-left: -3rem;
    margin-right: 0.75rem;
    float: left;
    position: static;
    transform: translateX(0%);
  }
}
@media (max-width: 599px) {
  .intro__heading {
    font-size: 1rem;
    line-height: 1.5;
    padding-bottom: 3rem;
    padding-top: 3rem;
    width: 8.125rem;
  }
}

@media (max-width: 900px) {
  .products {
    margin-top: 1.5rem;
    text-align: center;
  }
}
.products__heading {
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  width: 0.0625rem;
  white-space: nowrap;
}
.products__content {
  position: relative;
}
.products__content::after {
  display: table;
  content: "";
  clear: both;
}
.products__paragraph {
  font-size: 1.2720196495rem;
  line-height: 1.7688406;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-weight: 100;
  text-transform: uppercase;
}
@media (min-width: 900px) {
  .products__paragraph {
    right: 61.803398875%;
    max-width: 20.625rem;
    margin-top: -3rem;
    padding-right: 3rem;
    position: absolute;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 1200px) {
  .products__paragraph {
    font-size: 1rem;
    line-height: 2.25;
  }
}
.products__image {
  border-color: white;
  border-style: solid;
  border-width: 0.4375rem;
  box-sizing: border-box;
  height: auto;
  width: 61.803398875%;
  margin-top: 1.5rem;
}
@media (min-width: 900px) {
  .products__image {
    margin-top: -6rem;
    min-height: 28.5rem;
    object-fit: cover;
  }
  .products__content:nth-of-type(1) .products__image {
    border-right: 0;
    float: right;
    transform: translateX(100%);
    transition: all 1500ms;
  }
  .products__content:nth-of-type(1) .products__image.show {
    transform: translateX(0%);
  }
  .products__content:nth-of-type(2) .products__image {
    border-left: 0;
    transform: translateX(-100%);
    transition: all 1500ms;
  }
  .products__content:nth-of-type(2) .products__image.show {
    transform: translateX(0%);
  }
}
.products__watermark {
  fill: #f1f1ee;
  margin-left: 0.375rem;
  height: 100%;
  position: absolute;
  width: auto;
}

.catalog {
  margin-top: 1.5rem;
  position: relative;
  font-size: 0;
  text-align: center;
  width: 100%;
}
.catalog::after {
  background-color: white;
  content: "";
  left: 0;
  height: 0.1875rem;
  position: absolute;
  top: 18rem;
  width: 100%;
}
.catalog__content {
  color: white;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  z-index: 0;
}
.catalog__content:nth-of-type(1) {
  position: relative;
  text-align: left;
  z-index: 0;
}
.catalog__content:nth-of-type(1)::after {
  background-color: rgba(95, 89, 79, 0.75);
  content: "";
  height: 16.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}
.catalog__content:nth-of-type(2) {
  padding-bottom: 6rem;
  padding-top: 18rem;
  background-color: #5f594f;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25), 0 0 0.3125rem 0 rgba(0, 0, 0, 0.375);
  text-align: right;
}
.catalog__wrapper {
  max-width: 35.9375rem;
  width: 100%;
}
.catalog__content:nth-of-type(1) .catalog__wrapper {
  float: right;
  padding-left: 1.5rem;
}
.catalog__content:nth-of-type(2) .catalog__wrapper {
  padding-right: 1.5rem;
}
.catalog__heading {
  padding-bottom: 4.5rem;
  padding-top: 3.75rem;
  font-size: 2.0581710273rem;
  line-height: 1.0932036115;
  font-weight: 300;
  text-transform: uppercase;
}
.catalog__heading::first-line {
  font-size: 1.1278384856rem;
  line-height: 2.6599553379;
  font-weight: 100;
}
.catalog__image {
  height: 31.5rem;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}
.catalog__logo {
  height: 12rem;
}
.catalog__button {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 7.5rem;
  text-transform: uppercase;
  right: 1.5rem;
}
.catalog__button:focus {
  outline-color: currentColor;
  outline-offset: 0.125rem;
  outline-style: dashed;
  outline-width: 0.0625rem;
}
.catalog__icon {
  height: 3em;
  margin-left: 0.25em;
  vertical-align: -0.875em;
  width: auto;
}
@media (max-width: 1200px) {
  .catalog {
    margin-top: 1.5rem;
    position: relative;
    font-size: 0;
    text-align: center;
    width: 100%;
  }
  .catalog::after {
    background-color: white;
    content: "";
    left: 0;
    height: 0.1875rem;
    position: absolute;
    top: 18rem;
    width: 100%;
  }
  .catalog__content {
    color: white;
    display: block;
    vertical-align: middle;
    width: 100%;
    z-index: 0;
  }
  .catalog__content:nth-of-type(1) {
    margin-top: 4.5rem;
    position: relative;
    text-align: left;
    z-index: 0;
  }
  .catalog__content:nth-of-type(1)::after {
    background-color: rgba(95, 89, 79, 0.75);
    content: "";
    height: 12rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
  }
  .catalog__content:nth-of-type(2) {
    padding-bottom: 4.5rem;
    padding-top: 9rem;
    background-color: #5f594f;
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25), 0 0 0.3125rem 0 rgba(0, 0, 0, 0.375);
    text-align: right;
  }
  .catalog__wrapper {
    max-width: 71.875rem;
    width: 100%;
  }
  .catalog__content:nth-of-type(1) .catalog__wrapper {
    float: none;
    padding-left: 1.5rem;
  }
  .catalog__content:nth-of-type(2) .catalog__wrapper {
    padding-right: 1.5rem;
    text-align: center;
  }
  .catalog__heading {
    padding-bottom: 4.5rem;
    padding-top: 3.75rem;
    font-size: 2.0581710273rem;
    line-height: 1.0932036115;
    font-weight: 300;
    text-transform: uppercase;
  }
  .catalog__heading::first-line {
    font-size: 1.1278384856rem;
    line-height: 2.6599553379;
    font-weight: 100;
  }
  .catalog__image {
    height: 22.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .catalog__logo {
    height: 6rem;
  }
  .catalog__button {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 3rem;
    text-transform: uppercase;
    right: 1.5rem;
  }
  .catalog__button:focus {
    outline-color: currentColor;
    outline-offset: 0.125rem;
    outline-style: dashed;
    outline-width: 0.0625rem;
  }
  .catalog__icon {
    height: 3em;
    margin-left: 0.25em;
    vertical-align: -0.875em;
    width: auto;
  }
}

.text-field {
  display: block;
  height: 2.25rem;
  line-height: 2.25rem;
  margin-top: 0.75rem;
  position: relative;
  width: 100%;
}
.text-field__input {
  border-bottom-width: 0.0625rem;
  border-color: #b3b3b3;
  border-style: solid;
  height: 100%;
  text-transform: uppercase;
}
.text-field__label {
  color: gray;
  cursor: text;
  display: block;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  height: 100%;
  width: 100%;
}
.text-field__label::after {
  background: #896d48;
  content: "";
  max-width: 0;
  display: block;
  height: 0.125rem;
  transition-duration: 500ms;
  transition-property: max-width;
  width: 100%;
}
.text-field__input--active + .text-field__label {
  color: transparent;
}
.text-field__input:focus + .text-field__label::after {
  max-width: 100%;
}

.textarea {
  display: block;
  margin-top: 0.75rem;
}
.textarea__label {
  color: gray;
  line-height: 2.25rem;
  text-transform: uppercase;
}
.textarea__input {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  border-width: 0.0625rem;
  border-color: #b3b3b3;
  border-radius: 0.1875rem;
  border-style: solid;
  box-sizing: border-box;
  height: 6rem;
  resize: vertical;
  max-height: 18rem;
  min-height: 3rem;
  transition-duration: 500ms;
  transition-property: border;
}
.textarea__input:focus {
  border-color: #896d48;
}

.checkbox {
  cursor: pointer;
  display: block;
  margin-top: 1.5rem;
}
.checkbox__input {
  display: none;
}
.checkbox__icon {
  border-width: 0.0625rem;
  border-color: gray;
  border-radius: 0.125rem;
  border-style: solid;
  fill: transparent;
  height: 1.3125rem;
  transition-duration: 250ms;
  transition-property: fill;
  width: auto;
}
.checkbox__input:checked + .checkbox__icon {
  fill: #4d4d4d;
}
.checkbox__label {
  font-size: 0.6970425179rem;
  line-height: 2.1519490727;
  color: gray;
  text-transform: uppercase;
}

.contact {
  margin-top: 3rem;
  position: relative;
}
.contact::after {
  clear: both;
  content: "";
  display: table;
}
.contact__content {
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
  float: left;
  width: 50%;
}
.contact__content:first-of-type {
  background: white;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25), 0 0 0.3125rem 0 rgba(0, 0, 0, 0.375);
  position: relative;
}
@media (max-width: 1200px) {
  .contact__content {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    float: none;
    width: 100%;
  }
}
.contact__form {
  max-width: 35.9375rem;
  float: right;
  padding-left: 1.5rem;
  width: 100%;
}
.contact__map {
  height: 31.5rem;
  width: 100%;
}
@media (max-width: 1200px) {
  .contact {
    margin-top: 6rem;
  }
  .contact__form {
    max-width: 35.9375rem;
    float: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.contact-form {
  max-width: 24.0625rem;
}
.contact-form__button {
  padding: 0.375rem 2.25rem;
  font-size: 0.6970425179rem;
  line-height: 2.1519490727;
  background-color: #5f594f;
  border-radius: 0.1875rem;
  color: #e6e6e6;
  display: block;
  margin-top: 0.75rem;
  text-transform: uppercase;
  transition-duration: 250ms;
  transition-property: background-color, color;
}
.contact-form__button:hover, .contact-form__button:focus {
  background-color: #e8e6e3;
  color: #5f594f;
}
.contact-form__recaptcha {
  height: 3.75rem;
  margin-top: 1.5rem;
}
.contact-form__recaptcha .g-recaptcha {
  margin-left: auto;
  margin-right: auto;
  transform: scale(0.75);
  transform-origin: left top;
}
.contact-form__message {
  color: #5f594f;
  display: block;
  margin-top: 0.75rem;
  font-weight: 400;
}
.contact-form__message--success {
  color: green;
}
.contact-form__message--failure {
  color: red;
}
.contact-header {
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-color: #d7d7d5;
  position: relative;
  z-index: 1;
}
.contact-header__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 71.875rem;
}
.contact-header__content {
  padding-bottom: 1.5rem;
  padding-left: 7.5rem;
  padding-top: 1.5rem;
  margin-left: 15%;
  position: relative;
  width: auto;
}
.contact-header__content::after {
  clear: both;
  content: "";
  display: table;
}
.contact-header__heading {
  padding: 4.875rem 1.5rem;
  font-size: 1.2720196495rem;
  line-height: 1.7688406;
  background-color: white;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25), 0 0 0.3125rem 0 rgba(0, 0, 0, 0.375);
  box-sizing: border-box;
  border-bottom-right-radius: 2.5rem;
  color: #666666;
  font-weight: 200;
  left: 0;
  position: absolute;
  text-transform: uppercase;
  top: -4.5rem;
  transform: translateX(-50%);
  width: 10rem;
}
@media (max-width: 900px) {
  .contact-header__heading {
    padding: 4.875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 6.875rem;
  }
}
@media (max-width: 600px) {
  .contact-header__heading {
    margin-right: 0.75rem;
    position: static;
    float: left;
    transform: translateX(0);
  }
}
.contact-header__paragraph {
  font-size: 1.2720196495rem;
  line-height: 1.7688406;
  color: #666666;
  float: right;
  text-align: right;
  text-transform: uppercase;
  max-width: 18.75rem;
}
@media (max-width: 1200px) {
  .contact-header {
    padding-bottom: 1.5rem;
    padding-top: 4.5rem;
    position: relative;
    z-index: 1;
  }
  .contact-header__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 71.875rem;
  }
  .contact-header__content {
    padding-bottom: 0rem;
    padding-left: 0rem;
    padding-top: 0rem;
    margin-left: 0;
    position: static;
    width: auto;
  }
  .contact-header__content::after {
    clear: both;
    content: "";
    display: table;
  }
  .contact-header__heading {
    padding: 4.875rem 1.5rem;
    font-size: 1.2720196495rem;
    line-height: 1.7688406;
    background-color: white;
    box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.25), 0 0 0.3125rem 0 rgba(0, 0, 0, 0.375);
    box-sizing: border-box;
    border-bottom-right-radius: 2.5rem;
    color: #666666;
    font-weight: 200;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    top: -4.5rem;
    transform: translateX(-50%);
    width: 10rem;
  }
}
@media (max-width: 1200px) and (max-width: 900px) {
  .contact-header__heading {
    padding: 4.875rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 6.875rem;
  }
}
@media (max-width: 1200px) and (max-width: 600px) {
  .contact-header__heading {
    margin-right: 0.75rem;
    position: static;
    float: left;
    transform: translateX(0);
  }
}
@media (max-width: 1200px) {
  .contact-header__paragraph {
    font-size: 1rem;
    line-height: 1.5;
    color: #666666;
    float: none;
    text-align: left;
    text-transform: uppercase;
    max-width: 100%;
    width: 100%;
  }
}

.footer {
  font-size: 0.7861513778rem;
  line-height: 1.9080294743;
  background-color: #896d48;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding-top: 3rem;
  position: relative;
}
.footer__wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 71.875rem;
  text-align: justify;
}
.footer__wrapper::after {
  content: "";
  display: inline-block;
  width: 100%;
}
.footer__logo {
  height: 6rem;
}
.footer__content {
  display: inline-block;
}
.footer__heading {
  font-size: 0.7861513778rem;
  line-height: 1.9080294743;
  font-weight: 500;
  margin-top: 1.5rem;
  text-transform: uppercase;
}
.footer__icon {
  height: 1.5em;
  margin-right: 0.25em;
  vertical-align: -0.4375em;
  width: auto;
}
.footer__icon--marker {
  margin: -0.25em 0.075em -0.25em -0.25em;
  height: 2em;
  vertical-align: -0.4375em;
}
@media (max-width: 1200px) {
  .footer {
    text-align: center;
  }
  .footer__content {
    display: block;
    text-align: center;
  }
  .footer__logo {
    height: 6rem;
    text-align: center;
  }
}

.closure {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 71.875rem;
  font-size: 0.6180339887rem;
  line-height: 1.2135254916;
  text-align: center;
}
.closure__heading {
  font-weight: 300;
  text-transform: uppercase;
}
.closure__paragraph {
  margin-top: 1.5rem;
}

.tooltip {
  margin-top: 0.75rem;
}
.tooltip__image {
  height: 0.5625rem;
  width: auto;
}
.tooltip__link, .tooltip__heading {
  display: block;
  height: 0.5625rem;
}
.tooltip__paragraph {
  font-size: 0.7861513778rem;
  line-height: 1.9080294743;
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: center;
}

.tooltip__heading {
  display: inline-block;
  line-height: 0;
  height: 1.5rem;
  position: relative;
  z-index: 1;
}

.tooltip__paragraph {
  font-family: "Oxygen", sans-serif;
  font-style: italic;
  font-weight: normal;
  box-sizing: border-box;
  background-image: url(../img/baloon.svg);
  background-size: 100% 100%;
  color: black;
  display: inline-block;
  display: block;
  height: 12.5rem;
  margin-top: -13.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.75rem;
  padding-top: 3.4375rem;
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
  transform-origin: bottom center;
  transition-duration: 0.25s;
  transform: scale(0) rotateZ(-90deg);
  width: 16.25rem;
}

.tooltip:hover .tooltip__paragraph {
  transform: scale(1) rotateZ(0deg);
}

/*# sourceMappingURL=style.scss.map */
