@use '../abstracts/all' as *;

.price {
    background: {
        image: url(../img/blue-background.jpg);
        position: center;
        repeat: no-repeat;
        size: cover;
    }
    color: white;
    @include padding(4 null 5);
    text-align: center;

    &__heading, &__paragraph {
        @include trunk;
    }
    
    &__heading {
        color: inherit;
        
        @include breakpoint(null 600) {
            @include font-rhythm(2);
        }
    }
    
    &__paragraph {
        @include margin(1.5 auto null);
        max-width: rhythm($inner-width);
    }
    
    &__button {
        @include margin(3, top);
    }
}