@use '../abstracts/all' as *;

.slideshow {
    overflow: hidden;
    position: relative;
    
    @include breakpoint(null 900) {
        background: {
            image: url(../img/small-background.png);
            repeat: no-repeat;
            size: cover;
        };
        height: rhythm(17);
    }
    
    @include breakpoint(null 600) {
        height: rhythm(14);
    }
    
    &__slide {
        opacity: 0;
        position: absolute;
        z-index: -1;
        @include transition(0.5s);
            
        &.show  {
            opacity: 1;
        }
        
        @include breakpoint(null 900) {
            display: none;
        }
    }
    
    &__image {
        height: auto;
        width: 100vw;
    }
    
    &__trunk {
        @include trunk;
        position: relative;
    }
    
    &__button {
        position: absolute;
        top: 50%;

        &.slideshow-button--back {
            left: rhythm($trunk-space);
        }

        &.slideshow-button--next {
            right: rhythm($trunk-space);
        }
        
        @include breakpoint(null 900) {
            display: none;
        }
    }
    
    &__breadcrumb {
        position: absolute;
        bottom: rhythm(1);
        left: 0;
        
        @include breakpoint(null 900) {
            display: none;
        }
    }
}