@use '../config' as *;
@use '../utilities/all' as *;

.header-logo {
    &__link {
        display: block;
        
        &:focus-visible {
            outline-color: $theme-color-1;
            outline-offset: rem(5px);
            outline-style: dashed;
            outline-width: rem(2px);
        }
    }
    
    &__image {
        display: block;
        height: 2.5em;
        width: auto;
    }
    
    &__text {
        @include font-rhythm(5.875em, 0.5);
        
        display: block;
        font-weight: 700;
    }
}