@use 'sass:color';
@use '../config' as *;
@use '../utilities/all' as *;

.plan-card {
    @include margin(null auto);
    @include padding(rhythm(1) null rhythm(1.5));
    
    box-shadow: 0 0 em(10px) em(2px) color.change($card-back, $alpha: 0.5), 0 0 em(5px) em(1px) color.change($card-back, $alpha: 0.25);
    background-color: $card-back;
    border-radius: 3em;
    color: $body-back;
    max-width: rem(400px);
    
    &__heading {
        @include font-rhythm(ratio(4));
        
        color: $theme-color-1;
        font-weight: 700;
    }
    
    &__item {
        margin-top: rhythm(0.5);
        font-weight: 400;
        
        &:last-of-type {
            margin-top: rhythm(1);
        }
    }
    
    &__button {
        margin-top: rhythm(1);
    }
}