/*
* CONFIG
*/

$base-font-size: 16px;

$base-line-height: 1.5;

$rhythm: $base-font-size * $base-line-height;


$default-family: ("Intro", sans-serif);

$heading-family: ("Open Sans", sans-serif);


$theme-color-1: hsl(34, 31%, 41%);

$brand-color-1: hsl(34, 31%, 41%);

$theme-color-2: hsl(37, 9%, 34%);

$brand-color-2: hsl(37, 9%, 34%);

$light-color-1: hsl(0, 0%, 98%);

$light-color-2: hsl(60, 2%, 84%);

$shade-color-1: hsl(0, 0%, 10%);


$gutter: 1;

$wrapper: 1150px;