@use 'sass:math' as *;
@use 'sass:color';

@forward 'functions';

@mixin font ($properties: ())
{
    $size: null;

    @each $property, $value in $properties {
        font-#{$property}: $value;

        @if $property == 'size' {
            $size: $value;
        }
    }

    @if $size != null and unit($size) == 'rem' {
        $line-height: (round($size) * 1.5) / $size;

        @while $line-height < 1 {
            $line-height: $line-height + 0.75rem / $size;
        }

        line-height: $line-height;
    }
}

//

@mixin debug-lines ($line-size: 1.5rem, $color: #bebebe) {
    background: {
        image: linear-gradient(to top, $color 5%, color.adjust($color, $alpha: -1) 5%);
        position: left top;
        size: auto $line-size;
    }
}