.container {
    margin: {
        left: auto;
        right: auto;
    }
    max-width: 54rem;
    padding: {
        left: 1.5rem;
        right: 1.5rem;
    }

    @media (min-width: 1400px) {
        max-width: 60vw;
    }
}