@use '../abstracts/all' as *;


// this file is too big, better abstraction is very desirable

.product-article {
    margin-bottom: rhythm(7);
}

.article {
    @include trunk;
    position: relative;
    
    @at-root &__title {
        background: {
            image:(
                linear-gradient(to right, color(copper) 100%, transparent 100%),
                linear-gradient(to left, color(copper) 100%, transparent 100%)
            );
            position: left center, right center;
            repeat: no-repeat;
            size: 0px 1px;
        }
        margin-top: rhythm(3);
        letter-spacing: rem(2px);
        text-align: center;
        text-transform: uppercase;
    }

    @at-root &__banner {
        margin: {
            top: rhythm(2)
        }
        
        @include breakpoint(900px) {
            
        }
    }

    @at-root &__small-title {
        @include font(sans-serif, 500);
        @include font-rhythm(1);
        
        letter-spacing: rem(1px);
        text-align: center;
        text-transform: uppercase;
    }

    @at-root &__section {
        margin-top: rhythm(3);
    }

    @at-root &__text {
        margin-top: rhythm(1);
    }

    @at-root &__paragraph, &__paragraph--leader, &__squared-paragraph {
        @include font(sans-serif, 300);
        @include font-rhythm(1);
        
        letter-spacing: rem(1px);
        text-align: center;
    }
    
    @at-root &__text--small-column {
        margin-top: rhythm(1);
        max-width: rem(1000px);
        padding: {
            left: rhythm(1.5);
            right: rhythm(1.5);
        }
        margin: {
            left: auto;
            right: auto;
        }
    }

    @at-root &__paragraph--leader {
        margin-top: rhythm(2);
    }

    @at-root &__illustration {
        margin: {
            left: rhythm(-3);
            right: rhythm(-3);
        }
        
        @include breakpoint(1300px) {
            margin: {
                left: rhythm(-1.5);
                right: rhythm(-1.5);
            }
        }
    }

    @at-root &__squared-paragraph {
        border: {
            left: color(copper) 1px solid;
            right: color(copper) 1px solid;
        }
        margin: {
            top: rhythm(5);
            left: auto;
            right: auto;
        }
        padding: {
            top: rhythm(1.5);
            bottom: rhythm(1.5);
        }
        max-width: rhythm(42);
        position: relative;
        letter-spacing: rem(1px);
        text-align: center;
        
        @include breakpoint(1200px) {
            margin-top: rhythm(3);
            margin-bottom: rhythm(2);
        }
        
        &:before, &:after {
            content: ' ';
            display: block;
            width: 35%;
            height: 1px;
            background: color(copper);
        }
        
        &:before {
            position: absolute;
            top: 0;
        }
        
        &:after {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    @at-root &__column, &__wide-column {
        text-align: center;
        margin-top: rhythm(3);
        margin-bottom: rhythm(2);
        margin: {
            left: rhythm(1);
            right: rhythm(1);
        }
        max-width: rhythm(12);
        
        @include breakpoint(1200px) {
            margin-top: rhythm(0);
        }

        &:before {
            @include font-rhythm(7);
            color: color(copper);
        }
    }

    @at-root &__wide-column {
        max-width: rhythm(21);
        
        @include breakpoint(1200px) {
            margin-top: rhythm(2);
        }
    }

    @at-root &__partners-column {
        margin: {
            top: rhythm(2);
            left: rhythm(1.5);
            right: rhythm(1.5);
        }
    }

    @at-root &__photo {
        border-radius: 10px;
        margin-bottom: rhythm(1);
        width: rhythm(12);
    }

    @at-root &__footer {
        @include trunk;

        box-sizing: border-box;
        margin-top: rhythm(9);
        position: relative;
        padding-bottom: rhythm(3);
        
        @include breakpoint(1200px) {
            margin-top: rhythm(1.5);
            margin-bottom: rhythm(-2);
        }
        
        @include breakpoint(900px) {
            margin-top: rhythm(0);
        }
    }

    @at-root &__card {
        bottom: 0;
        background: color(soft-amber);
        box-shadow: 0 0 rem(10px) rem(5px) rgba(0, 0, 0, 0.5);
        box-sizing: border-box;
        left: 50%;
        max-width: rhythm(30);
        opacity: 0;
        padding: rhythm(10);
        position: absolute;
        text-align: center;
        transform: (
            translateX(-50%) translateY(rhythm(3))
        );
        transition-duration: 1s;
        z-index: 1;
        
        &.is-active {
            opacity: 1;
            transform: (
                translateX(-50%) translateY(0)
            );
        }
        
        @include breakpoint(900px) {
            margin-left: auto;
            margin-right: auto;
            width: calc(100% - #{rhythm(3)});
        }
    }

    @at-root &__button {
        margin: {
            top: rhythm(1);
        }
        text-align: center;
    }

    @at-root &__sized-button {
        margin: {
            top: rhythm(4);
            left: rhythm(1);
            right: rhythm(1);
            bottom: rhythm(1);
        }

        .button {
            width: rhythm(8);
        }
        
        @include breakpoint(900px) {
            margin-top: rhythm(2);
        }
    }

    @at-root &__partners {
        color: color(vista-white);
        background: color(mine-shaft);
        margin-top: rhythm(2);
        padding-top: rhythm(2);
        padding-bottom: rhythm(4);
        margin-left: rhythm(-3);
        margin-right: rhythm(-3);
        
        padding: {
            left: rhythm(1.5);
            right: rhythm(1.5);
        }
        
        @include breakpoint(1200px) {
            margin-left: rhythm(-1.5);
            margin-right: rhythm(-1.5);
        }
    }
    
    @at-root &__location {
        @include icon(marker);
        @include font-rhythm(1);
        
        display: block;
        text-decoration: none;
        text-align: left;
        letter-spacing: rem(2px);
        transition-duration: 0.25s;
        position: relative;
        transition-duration: 0.25s;
        line-height: rhythm(1.5);
        margin-right: rhythm(5);
        padding-left: rhythm(2);
        
        @include breakpoint(1200px) {
            margin-right: rhythm(1);
        }
        
        &:before {
            text-align: right;
            font-size: rhythm(1.25);
            
            color: color(copper);
            display: inline-block;
            
            width: rhythm(1.25);
            height: rhythm(1.5);
            line-height: rhythm(1.5);
            text-align: right;
            vertical-align: top;
            margin-right: rhythm(0.25);
            position: absolute;
            left: rhythm(0.5);
        }
    }
    
    @at-root &__link-list {
        @include font-rhythm(1);
        
        text-align: left;
    }
    
    @at-root &__link {
        position: relative;
        text-decoration: none;
        line-height: rhythm(1.5);
        transition-duration: 0.25s;
        
        &:hover {
            color: color(copper)
        }
        
        &:before {
            color: color(copper);
            font-size: rhythm(1);
            display: inline-block;
            
            width: rhythm(1.25);
            height: rhythm(1.5);
            line-height: rhythm(1.5);
            text-align: right;
            vertical-align: top;
            margin-right: rhythm(0.25);
        }
    }
    
    @at-root &__maps-iframe {
        width: 100%;
        height: 31.5rem;
        margin-bottom: -4.5rem;
        margin-top: 4.5rem;
    }
}