@use '../config' as *;
@use '../utilities/all' as *;

.link-bar {
    &__item {
        display: inline-block;
        
        &::after {
            @include margin(null 0.25);
            content: '|';
        }
        
        &:last-child::after {
            content: none;
        }
    }
}