@use '../config' as *;
@use '../utilities/all' as *;

.people {
    @include padding(1 $gutter 4);
    
    background: {
        image: radial-gradient(closest-side, hsl(0, 0%, 88%) 0% 40%, transparent 40%);
        position: center;
        size: rem(8px) rem(8px);
    }
    text-align: center;
    
    &__heading {
        margin-top: rhythm(3);
    }
    
    &__paragraph {
        margin-top: rhythm(1);
    }
    
    &__list {
        @include margin(1 auto null);
        
        max-width: 1000px;
    }
    
    &__item {
        @include margin(1 2 null);
        display: inline-block;
    }
    
    &__name {
        font-weight: 700;
    }
}