@use 'sass:color';
@use '../config' as *;
@use '../utilities/all' as *;

.posts {
    @include font-rhythm(-1);
    @include padding(2 2 * $gutter);
    
    background-color: $brand-color-1;
    box-sizing: border-box;
    color: white;
    width: 100%;
    
    @media (min-width: 900px) {
        @include font-rhythm(0, rhythm(1.25));
        @include padding(null 0 3 3 * $gutter);
    }
    
    &__list {
        margin-top: rhythm(1);
    }
    
    &__item {
        @include margin(null -0.25);
    }
    
    &__link {
        @include padding(0.25);
        
        display: block;
        text-decoration: underline;
        text-decoration-color: color.mix($light-color, $brand-color-1);
        transition-duration: 250ms;
        transition-property: background-color, color;
        
        &:hover, &:focus {
            background-color: white;
            color: $brand-color-1;
        }
    }
}