@charset "UTF-8";
/*
 * CONFIG
 */
@font-face {
  font-family: "Aguafina Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aguafina.eot");
  src: url("../fonts/aguafina.eot?#iefix") format("embedded-opentype"), url("../fonts/aguafina.ttf") format("truetype"), url("../fonts/aguafina.woff") format("woff"), url("../fonts/aguafina.svg") format("svg");
}
@font-face {
  font-family: "Bell MT";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/bell.eot");
  src: url("../fonts/bell.eot?#iefix") format("embedded-opentype"), url("../fonts/bell.ttf") format("truetype"), url("../fonts/bell.woff") format("woff"), url("../fonts/bell.svg") format("svg");
}
@font-face {
  font-family: Icomoon;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-bold.eot");
  src: url("../fonts/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold.ttf") format("truetype"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/montserrat-bolditalic.eot");
  src: url("../fonts/montserrat-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bolditalic.ttf") format("truetype"), url("../fonts/montserrat-bolditalic.woff") format("woff"), url("../fonts/montserrat-bolditalic.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/montserrat-extralight.eot");
  src: url("../fonts/montserrat-extralight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extralight.ttf") format("truetype"), url("../fonts/montserrat-extralight.woff") format("woff"), url("../fonts/montserrat-extralight.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/montserrat-extralightitalic.eot");
  src: url("../fonts/montserrat-extralightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-extralightitalic.ttf") format("truetype"), url("../fonts/montserrat-extralightitalic.woff") format("woff"), url("../fonts/montserrat-extralightitalic.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/montserrat-italic.eot");
  src: url("../fonts/montserrat-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-italic.ttf") format("truetype"), url("../fonts/montserrat-italic.woff") format("woff"), url("../fonts/montserrat-italic.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-light.eot");
  src: url("../fonts/montserrat-light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light.ttf") format("truetype"), url("../fonts/montserrat-light.woff") format("woff"), url("../fonts/montserrat-light.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/montserrat-lightitalic.eot");
  src: url("../fonts/montserrat-lightitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-lightitalic.ttf") format("truetype"), url("../fonts/montserrat-lightitalic.woff") format("woff"), url("../fonts/montserrat-lightitalic.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-medium.eot");
  src: url("../fonts/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-medium.ttf") format("truetype"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/montserrat-mediumitalic.eot");
  src: url("../fonts/montserrat-mediumitalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-mediumitalic.ttf") format("truetype"), url("../fonts/montserrat-mediumitalic.woff") format("woff"), url("../fonts/montserrat-mediumitalic.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-regular.eot");
  src: url("../fonts/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular.ttf") format("truetype"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-semibold.eot");
  src: url("../fonts/montserrat-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibold.ttf") format("truetype"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.svg") format("svg");
}
@font-face {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/montserrat-semibolditalic.eot");
  src: url("../fonts/montserrat-semibolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-semibolditalic.ttf") format("truetype"), url("../fonts/montserrat-semibolditalic.woff") format("woff"), url("../fonts/montserrat-semibolditalic.svg") format("svg");
}
* {
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  outline-color: transparent;
  outline-offset: -0.1111111111rem;
  outline-style: dashed;
  outline-width: 0.0555555556rem;
  padding: 0;
  vertical-align: top;
}
*:focus {
  outline-color: #9a1d2e;
}

html {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: black;
  font-size: 18px;
  line-height: 1.6666666667;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-text-align-adjust: 100%;
}

body {
  background-color: transparent;
  overflow-x: hidden;
}
body ::selection {
  color: white;
  background-color: #9a1d2e;
}

ol, ul {
  list-style-type: none;
}

button {
  background: transparent;
  cursor: pointer;
  -webkit-appearance: button;
}

input, textarea {
  background: transparent;
  height: 1.6666666667rem;
  width: 100%;
}

figure {
  display: inline-block;
}

h1 {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 2.0581710273rem;
  line-height: 1.2146706794;
  text-transform: uppercase;
}

h2 {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6180339888rem;
  line-height: 1.5450849719;
  text-transform: uppercase;
}

h3 {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2720196495rem;
  line-height: 1.3102522963;
  text-transform: uppercase;
}

h4 {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6666666667;
  text-transform: uppercase;
}

strong {
  text-transform: uppercase;
}

.column__text h1 {
  margin-top: 1.6666666667rem;
}
.column__text h1:first-child {
  margin-top: 0rem;
}
.column__text h2 {
  margin-top: 1.6666666667rem;
}
.column__text h2:first-child {
  margin-top: 0rem;
}
.column__text h3 {
  margin-top: 1.6666666667rem;
}
.column__text h3:first-child {
  margin-top: 0rem;
}
.column__text h4 {
  margin-top: 1.6666666667rem;
}
.column__text h4:first-child {
  margin-top: 0rem;
}
.column__text p {
  margin-top: 1.6666666667rem;
}
.column__text p:first-child {
  margin-top: 0rem;
}
.column__text ul {
  margin-top: 1.6666666667rem;
}
.column__text li {
  list-style-type: circle;
  list-style-position: inside;
}
.column__text a {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  color: #9a1d2e;
  text-decoration: none;
}
.column__text a:hover {
  color: #5b1b23;
}
.column__text .button {
  color: white;
}
.column__text .button:hover {
  color: white;
}

@media screen and (max-width: 599px) {
  body {
    font-size: 0.7861513778rem;
    line-height: 2.1200327492;
  }
}

.header {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  position: fixed;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 599px) {
  .header {
    background-color: #9a1d2e;
    box-shadow: 0 0 2.2222222222rem 0 rgba(0, 0, 0, 0.375), 0 0 1.1111111111rem 0 rgba(0, 0, 0, 0.125);
  }
}
.header--small {
  background-color: #9a1d2e;
  box-shadow: 0 0 2.2222222222rem 0 rgba(0, 0, 0, 0.375), 0 0 1.1111111111rem 0 rgba(0, 0, 0, 0.125);
}
.header__content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
}
.header__brand {
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  float: left;
  height: 6.6666666667rem;
}
@media screen and (max-width: 599px) {
  .header__brand {
    margin-bottom: 1.0416666667rem;
    margin-top: 1.0416666667rem;
    height: 2.5rem;
  }
}
.header--small .header__brand {
  margin-bottom: 1.0416666667rem;
  margin-top: 1.0416666667rem;
  height: 2.5rem;
}

.header__button {
  margin-bottom: 2.9166666667rem;
  margin-top: 2.9166666667rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  float: right;
}
@media screen and (max-width: 599px) {
  .header__button {
    margin-bottom: 1.0416666667rem;
    margin-top: 1.0416666667rem;
  }
}
.header--small .header__button {
  margin-bottom: 0.625rem;
  margin-top: 0.625rem;
}
@media screen and (max-width: 599px) {
  .header--small .header__button {
    margin-bottom: 1.0416666667rem;
    margin-top: 1.0416666667rem;
  }
}

.header-button--active ~ .header__overlay {
  opacity: 1;
  visibility: visible;
}
.header__menu {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  transform: translateX(100%);
}
.header-button--active ~ .header__menu {
  transform: translateX(0%);
}

.header__menu:focus-within {
  transform: translateX(0%);
}

.header-button {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6563504915rem;
  line-height: 0.8333333333rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  color: white;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .header-button {
    font-size: 0.4858682718rem;
    line-height: 0.8333333333rem;
  }
}
.header-button:focus {
  outline-color: transparent;
}
.header-button__icon {
  display: block;
  height: 2.5rem;
  position: relative;
}
.header-button__icon:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.header-button__icon:after {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.header-button__icon:before, .header-button__icon:after {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  display: block;
  font-size: 2.5rem;
  position: absolute;
}
@media screen and (max-width: 599px) {
  .header-button__icon:before, .header-button__icon:after {
    font-size: 1.6666666667rem;
  }
}
.header-button__icon:after {
  opacity: 0;
  transform: scale(0, 1);
}
.header-button--active .header-button__icon:before {
  opacity: 0;
  transform: scale(0, 1);
}
.header-button--active .header-button__icon:after {
  opacity: 1;
  transform: scale(1);
}

.header-menu {
  padding-top: 9.1666666667rem;
  background-color: #9a1d2e;
  box-sizing: border-box;
  color: white;
  height: 100%;
  min-height: 100vh;
  overflow: auto;
  position: fixed;
  right: 0;
  width: 38.196601125%;
}
@media screen and (max-width: 1199px) {
  .header-menu {
    width: 50%;
  }
}
@media screen and (max-width: 899px) {
  .header-menu {
    min-width: 0%;
    width: 61.803398875%;
  }
}
@media screen and (max-width: 599px) {
  .header-menu {
    width: 100%;
  }
}
.header-menu__link {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2720196495rem;
  line-height: 1.3102522963;
  padding-bottom: 0.8333333333rem;
  padding-left: 3.3333333333rem;
  padding-top: 0.8333333333rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 599px) {
  .header-menu__link {
    padding-left: 0.8333333333rem;
    padding-right: 0.8333333333rem;
  }
}
.header-menu__link:hover, .header-menu__link:focus {
  background: white;
  color: #9a1d2e;
}
.header-menu__link:focus {
  outline-color: transparent;
}
.header-menu__icon-bar {
  margin-top: 1.6666666667rem;
  padding-left: 3.3333333333rem;
}
@media screen and (max-width: 599px) {
  .header-menu__icon-bar {
    padding-left: 0.8333333333rem;
    padding-right: 0.8333333333rem;
  }
}
.header-menu__contact {
  padding-left: 3.3333333333rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: inline-block;
  text-decoration: none;
  transform-origin: left;
}
@media screen and (max-width: 599px) {
  .header-menu__contact {
    padding-left: 0.8333333333rem;
    padding-right: 0.8333333333rem;
  }
}
.header-menu__contact:before {
  vertical-align: middle;
}
.header-menu__contact:hover, .header-menu__contact:focus {
  transform: scale(1.05);
}
.header-menu__contact:focus {
  outline-color: white;
}

.slideshow {
  height: 38.3333333333rem;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 599px) {
  .slideshow {
    height: auto;
  }
}
@media screen and (min-width: 600px) {
  .slideshow__guide {
    display: none;
  }
}
.slideshow__list {
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 599px) {
  .slideshow__list {
    display: none;
  }
}
.slideshow__list:after {
  background-image: url(../img/scrawl.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
  content: "";
  bottom: 0;
  height: 5.4166666667rem;
  position: absolute;
  width: 100%;
}
.slideshow__item {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  height: 100%;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
}
.slideshow__item.show {
  opacity: 1;
  visibility: visible;
}
.slideshow__link {
  height: 100%;
  display: block;
}
.slideshow__link:after {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0035486111) 15.9569444444%, rgba(0, 0, 0, 0.0140277778) 30.5277777778%, rgba(0, 0, 0, 0.0314375) 43.7125%, rgba(0, 0, 0, 0.0557777778) 55.5111111111%, rgba(0, 0, 0, 0.0870486111) 65.9236111111%, rgba(0, 0, 0, 0.12525) 74.95%, rgba(0, 0, 0, 0.1703819444) 82.5902777778%, rgba(0, 0, 0, 0.2224444444) 88.8444444444%, rgba(0, 0, 0, 0.2814375) 93.7125%, rgba(0, 0, 0, 0.3473611111) 97.1944444444%, rgba(0, 0, 0, 0.4202152778) 99.2902777778%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.slideshow__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.slideshow__prev, .slideshow__next {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background: rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 0;
  position: absolute;
  top: 61.803398875%;
  transform: translateY(-50%);
}
.slideshow__prev:hover, .slideshow__prev:focus, .slideshow__next:hover, .slideshow__next:focus {
  transform: translateY(-50%) scale(1.1);
}
.slideshow__prev:focus, .slideshow__next:focus {
  outline-color: white;
}
.slideshow__prev:before, .slideshow__next:before {
  font-size: 3.3333333333rem;
  line-height: 1;
}
@media screen and (max-width: 599px) {
  .slideshow__prev, .slideshow__next {
    display: none;
  }
}
.slideshow__prev {
  left: 1.6666666667rem;
}
.slideshow__prev:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.slideshow__next {
  right: 1.6666666667rem;
}
.slideshow__next:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.branding {
  background-image: url(../img/lines.png);
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: 120%;
}
.branding__content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
  text-align: center;
}
.branding__bottle {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-top: 3.3333333333rem;
}
@media screen and (min-width: 900px) {
  .branding__bottle {
    display: inline-block;
  }
}
@media screen and (max-width: 899px) {
  .branding__bottle {
    margin-left: 0.4166666667rem;
    margin-right: 0.4166666667rem;
  }
}
.branding__inline {
  display: inline-block;
}
@media screen and (max-width: 599px) {
  .branding__inline {
    display: block;
  }
}
.branding__button {
  margin-top: 5rem;
  width: 13.3333333333rem;
}
@media screen and (max-width: 599px) {
  .branding__button {
    margin-top: 1.6666666667rem;
  }
}
@media screen and (max-width: 599px) {
  .branding ul:last-of-type {
    margin-top: 1.6666666667rem;
  }
}

.branding-header {
  background-image: linear-gradient(to bottom, #f1efea 0% 22.2222222222%, #f4f2ee 22.2222222222% 44.4444444444%, #f6f5f2 44.4444444444% 66.6666666667%, #f9f8f6 66.6666666667% 88.8888888889%, #fcfcfb 88.8888888889% 100%);
}
@media screen and (min-width: 600px) {
  .branding-header {
    padding-top: 1.6666666667rem;
  }
}
.branding-header__content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
}
.branding-header__paragraph {
  width: 50%;
  min-width: 29.1666666667rem;
}
@media screen and (max-width: 899px) {
  .branding-header__paragraph {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 599px) {
  .branding-header__paragraph {
    width: 100%;
    min-width: 0;
  }
}

.featured {
  margin-top: 8.3333333333rem;
  display: table;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .featured {
    display: block;
  }
}
.featured__leaves {
  display: table-cell;
  width: 30%;
}
@media screen and (max-width: 1199px) {
  .featured__leaves {
    display: block;
    height: 20rem;
    width: 100%;
  }
}
.featured__content {
  padding-bottom: 1.6666666667rem;
  padding-top: 5rem;
  display: table-cell;
}
@media screen and (max-width: 1199px) {
  .featured__content {
    background-color: #f1efea;
    display: block;
  }
}
.featured__card {
  padding-bottom: 6.6666666667rem;
  padding-left: 13.3333333333rem;
  padding-top: 5rem;
  background-color: #f1efea;
}
@media screen and (max-width: 1199px) {
  .featured__card {
    padding-bottom: 0rem;
    padding-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.6666666667rem;
    padding-right: 1.6666666667rem;
    box-sizing: border-box;
    height: 100%;
    max-width: 61.6666666667rem;
    width: 100%;
  }
}
.featured__paragraph {
  margin-top: 1.6666666667rem;
  max-width: 30.8333333333rem;
}
.featured__button {
  margin-top: 1.6666666667rem;
}

.featured-leaves {
  background-color: #1c1817;
  background-image: url(../img/leave.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .featured-leaves {
    overflow: hidden;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .featured-leaves__image {
    height: 30rem;
    position: absolute;
    right: 0;
    top: 8.3333333333rem;
    transform: translateX(50%);
    width: 20rem;
    object-fit: cover;
  }
}
@media screen and (max-width: 1199px) {
  .featured-leaves__image {
    height: 100%;
    margin-top: 10rem;
    min-height: 26.6666666667rem;
    transform: translateY(-50%);
    width: auto;
  }
}

.inferior {
  margin-bottom: -13.75rem;
  padding-bottom: 16.6666666667rem;
  background-image: url(../img/vineyard.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  text-align: center;
}
.inferior__content {
  padding-top: 8.3333333333rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
}
.inferior__paragraph {
  margin-top: 1.6666666667rem;
}
.inferior__icon-bar {
  margin-top: 1.6666666667rem;
}

.guide {
  height: 20rem;
  position: relative;
}
.guide:before {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.0035486111) 15.9569444444%, rgba(0, 0, 0, 0.0140277778) 30.5277777778%, rgba(0, 0, 0, 0.0314375) 43.7125%, rgba(0, 0, 0, 0.0557777778) 55.5111111111%, rgba(0, 0, 0, 0.0870486111) 65.9236111111%, rgba(0, 0, 0, 0.12525) 74.95%, rgba(0, 0, 0, 0.1703819444) 82.5902777778%, rgba(0, 0, 0, 0.2224444444) 88.8444444444%, rgba(0, 0, 0, 0.2814375) 93.7125%, rgba(0, 0, 0, 0.3473611111) 97.1944444444%, rgba(0, 0, 0, 0.4202152778) 99.2902777778%, rgba(0, 0, 0, 0.5) 100%);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.guide:after {
  background-image: url(../img/scrawl.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
  bottom: 0;
  content: "";
  height: 5.4166666667rem;
  left: 0;
  position: absolute;
  width: 100%;
}
.guide__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.column {
  padding-top: 1.6666666667rem;
  background-image: linear-gradient(to bottom, #f1efea 0% 22.2222222222%, #f4f2ee 22.2222222222% 44.4444444444%, #f6f5f2 44.4444444444% 66.6666666667%, #f9f8f6 66.6666666667% 88.8888888889%, #fcfcfb 88.8888888889% 100%);
  background-repeat: no-repeat;
  background-size: 100% 16.6666666667rem;
  min-height: 15rem;
}
.column:after {
  content: "";
  display: table;
  clear: both;
}
.column__content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .column__header {
    float: left;
    width: 38.196601125%;
  }
}
.column__text {
  box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  .column__text {
    padding-left: 1.6666666667rem;
    float: right;
    width: 61.803398875%;
  }
}
@media screen and (max-width: 1199px) {
  .column__text {
    padding-top: 1.6666666667rem;
  }
}
.column__select {
  margin-bottom: 5rem;
  margin-top: 1.6666666667rem;
}
.column__address {
  font-size: 0.7861513778rem;
  line-height: 2.1200327492;
}
.column__email {
  display: block;
  text-decoration: none;
}
.column__strong {
  font-size: 0.7861513778rem;
  line-height: 2.1200327492;
  margin-top: 1.6666666667rem;
  text-transform: uppercase;
}
.column__button {
  margin-top: 3.3333333333rem;
}
.column .footer__phone {
  margin-left: 0;
}
.column .footer__phone:hover, .column .footer__phone:focus {
  color: #9a1d2e;
}

.banner {
  text-align: center;
}
.banner__image {
  height: 13.3333333333rem;
  margin-left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.consult {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
  padding-top: 5rem;
}
.consult__list {
  font-size: 0;
}
.consult__item {
  display: inline-block;
  width: 33.3333333333%;
}
@media screen and (max-width: 899px) {
  .consult__item {
    width: 50%;
  }
}
@media screen and (max-width: 599px) {
  .consult__item {
    width: 100%;
  }
}
.consult__breadcrumb {
  margin-top: 3.3333333333rem;
  text-align: center;
}

.address {
  font-size: 0.7861513778rem;
  line-height: 2.1200327492;
  padding: 0.8333333333rem;
  box-sizing: border-box;
}
.address__content {
  padding: 1.6666666667rem;
  background-color: #f1efea;
  box-shadow: 0 0 1.1111111111rem 0 rgba(0, 0, 0, 0.375), 0 0 0.5555555556rem 0 rgba(0, 0, 0, 0.125);
}
.address__heading {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1.6666666667rem;
  margin-top: 1.6666666667rem;
  text-transform: uppercase;
}

.breadcrumb__item {
  display: inline-block;
  text-align: center;
}
.breadcrumb__link, .breadcrumb__link--active {
  padding-bottom: 0.3333333333rem;
  padding-top: 0.5rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background-color: #f1efea;
  display: block;
  width: 2.5rem;
  text-decoration: none;
}
.breadcrumb__link:hover, .breadcrumb__link:focus, .breadcrumb__link--active:hover, .breadcrumb__link--active:focus {
  background-color: #1c1817;
  color: white;
}
.breadcrumb__link--active {
  background-color: #1c1817;
  color: white;
}

.gallery {
  margin-top: 8.3333333333rem;
  position: relative;
}
.gallery:after {
  background-color: #1c1817;
  background-image: url(../img/leave.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  height: 33.3333333333rem;
  position: absolute;
  right: 0;
  top: -3.3333333333rem;
  width: 38.196601125%;
  z-index: -1;
}
.gallery__content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
}
.gallery__list {
  margin: -0.4166666667rem -0.2083333333rem;
  font-size: 0;
}
.gallery__item {
  padding-left: 0.2083333333rem;
  padding-right: 0.2083333333rem;
  padding-top: 0.4166666667rem;
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
}
@media screen and (max-width: 899px) {
  .gallery__item {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 599px) {
  .gallery__item {
    width: 50%;
  }
}
@media screen and (max-width: 399px) {
  .gallery__item {
    width: 100%;
  }
}

.video {
  margin-top: 8.3333333333rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
}
.video__button {
  margin-top: 1.6666666667rem;
  display: block;
  width: 100%;
  height: 23.3333333333rem;
  overflow: hidden;
  position: relative;
}
.video__button:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.video__button:before {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  color: white;
  font-size: 5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.video__button:hover:before, .video__button:focus:before {
  transform: translate(-50%, -50%) scale(1.1);
}
.video__button:after {
  background: rgba(0, 0, 0, 0.325);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.video__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
  -webkit-filter: blur(0.2777777778rem);
  filter: blur(0.2777777778rem);
}
.video__overlay {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  background: rgba(0, 0, 0, 0.5);
  font-size: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}
.video__overlay:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.video--show .video__overlay {
  opacity: 1;
  visibility: visible;
}

.video__frame {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  height: 30rem;
  width: 53.3333333333rem;
}

.card-menu {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
  padding-top: 8.3333333333rem;
}
.card-menu__list {
  margin-left: -1.6666666667rem;
  margin-right: -1.6666666667rem;
  margin-top: -3.3333333333rem;
  font-size: 0;
}
.card-menu__list:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.card-menu__item {
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  padding-top: 3.3333333333rem;
  box-sizing: border-box;
  display: inline-block;
  width: 33.3333333333%;
}
@media screen and (max-width: 899px) {
  .card-menu__item {
    width: 50%;
  }
}
@media screen and (max-width: 499px) {
  .card-menu__item {
    width: 100%;
  }
}

.popup {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background: rgba(0, 0, 0, 0.75);
  font-size: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}
.popup.show {
  opacity: 1;
  visibility: visible;
}
.popup:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.popup__image {
  height: auto;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.popup__back, .popup__next {
  font-size: 1.7183478952rem;
  line-height: 1.4548858278;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  color: #e6e6e6;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.popup__back:hover, .popup__next:hover {
  transform: translateY(-50%) scale(1.1);
}
.popup__back {
  left: 1.6666666667rem;
}
.popup__back:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.popup__next {
  right: 1.6666666667rem;
}
.popup__next:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.shortcut {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  background: white;
  max-height: 0;
  overflow: hidden;
  text-align: center;
}
.shortcut:focus-within {
  max-height: 1.6666666667rem;
}
.shortcut__item {
  margin-left: 0.8333333333rem;
  margin-right: 0.8333333333rem;
  display: inline-block;
}
.shortcut__link {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  font-size: 0.7861513778rem;
  line-height: 2.1200327492;
  display: inline-block;
  outline-style: dashed;
  outline-width: 0.1111111111rem;
  outline-color: transparent;
  text-decoration: none;
}
.shortcut__link:hover, .shortcut__link:focus {
  color: #9a1d2e;
}
.shortcut__link:focus {
  outline-color: #9a1d2e;
}

.brand {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: inline-block;
  height: 100%;
}
.brand:hover, .brand:focus {
  transform: scale(1.05);
}
.brand:focus {
  outline-color: white;
}
.brand__image {
  height: 100%;
  width: auto;
}

.footer {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6970425179rem;
  line-height: 2;
  margin-top: 13.75rem;
  background-color: #1c1817;
  color: #ccc;
  position: relative;
  text-align: center;
}
.footer:before {
  background-image: url(../img/black-scrawl.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
  content: "";
  left: 0;
  height: 5.4166666667rem;
  top: -5.4166666667rem;
  position: absolute;
  width: 100%;
}
.footer__content {
  padding-bottom: 1.6666666667rem;
  padding-top: 3.3333333333rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6666666667rem;
  padding-right: 1.6666666667rem;
  box-sizing: border-box;
  height: 100%;
  max-width: 61.6666666667rem;
  width: 100%;
}
.footer__brand {
  height: 6.6666666667rem;
}
.footer__inline {
  display: inline-block;
}
.footer__leading {
  margin-top: 1.6666666667rem;
}
.footer__link {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  margin-left: 0.4166666667rem;
  margin-right: 0.4166666667rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  text-transform: uppercase;
  text-decoration: none;
}
.footer__link:hover, .footer__link:focus {
  color: white;
}
.footer__link:focus {
  outline-color: white;
}
.footer__location {
  text-transform: uppercase;
}
.footer__email {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: inline-block;
  text-decoration: none;
}
.footer__email:hover, .footer__email:focus {
  color: white;
}
.footer__email:focus {
  outline-color: white;
}
.footer__phone {
  font-size: 1rem;
  line-height: 1.6666666667;
  margin-left: 0.4166666667rem;
  margin-right: 0.4166666667rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: block;
  text-decoration: none;
}
.footer__phone:before {
  vertical-align: middle;
}
.footer__phone:hover, .footer__phone:focus {
  color: white;
}
.footer__phone:focus {
  outline-color: white;
}
.footer__aside {
  font-size: 0.4858682718rem;
  line-height: 1.7151425227;
  margin-top: 3.3333333333rem;
}

.tripadvisor-icon:before, .a2a_s_tripadvisor:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.facebook-icon:before, .a2a_s_facebook:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.instagram-icon:before, .a2a_s_instagram:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.email-icon:before, .a2a_s_email:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.phone-icon:before, .a2a_s_phone:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.whatsapp-icon:before, .a2a_s_whatsapp:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.linkedin-icon:before, .a2a_s_linkedin:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.twitter-icon:before, .a2a_s_twitter:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-bar {
  font-size: 0;
}
.icon-bar__item, .icon-bar a[class*="2a_button"] {
  margin-left: 0.4166666667rem;
  margin-right: 0.4166666667rem;
  display: inline-block;
  vertical-align: middle;
  /*overwritting*/
  padding: 0;
}
.icon-bar__item:first-child, .icon-bar a[class*="2a_button"]:first-child {
  margin-left: 0;
}
.icon-bar__item:last-child, .icon-bar a[class*="2a_button"]:last-child {
  margin-right: 0;
}
.icon-bar__link, .icon-bar .a2a_s__default {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: block;
  text-decoration: none;
  /*overwritting*/
  background: none !important;
  overflow: visible;
  height: auto;
  line-height: 1;
  width: auto;
}
.icon-bar__link:hover, .icon-bar__link:focus, .icon-bar .a2a_s__default:hover, .icon-bar .a2a_s__default:focus {
  color: inherit;
  transform: scale(1.1);
}
.icon-bar__link:focus, .icon-bar .a2a_s__default:focus {
  outline-color: white;
}
.icon-bar__link:before, .icon-bar .a2a_s__default:before {
  font-size: 1.6666666667rem;
  line-height: 3.3333333333rem;
}
.icon-bar__link.tripadvisor-icon:before, .icon-bar .a2a_s__default.tripadvisor-icon:before {
  font-size: 2.75rem;
}
.icon-bar__link svg, .icon-bar .a2a_s__default svg {
  display: none;
}

.overlay {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  width: 100%;
  visibility: hidden;
}
.overlay--active {
  opacity: 1;
  visibility: visible;
}

.heading {
  font-size: 1.8248810035rem;
  line-height: 1.3699523395;
  text-transform: uppercase;
}
@media screen and (max-width: 599px) {
  .heading {
    font-size: 1.2720196495rem;
    line-height: 1.3102522963;
  }
}
.heading__handwritten {
  font-family: "Aguafina Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 3.7559172095rem;
  line-height: 1.109360626;
  color: #9a1d2e;
  display: block;
  text-transform: none;
}
@media screen and (max-width: 599px) {
  .heading__handwritten {
    font-size: 2.6180339888rem;
    line-height: 1.2732200375;
  }
}

.bottle {
  margin-bottom: 5.8333333333rem;
  padding-top: 1.6666666667rem;
  background: #f1efea;
  box-sizing: border-box;
  height: 10.8333333333rem;
  width: 10rem;
}
.bottle__image {
  height: 12.5rem;
  width: auto;
}
.bottle__text {
  font-size: 0.7861513778rem;
  line-height: 0.8333333333rem;
  margin-top: 0.8333333333rem;
}

.button, .button--light {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 0.7861513778rem;
  line-height: 2.1200327492;
  padding: 0.4166666667rem 0.8333333333rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background-color: #9a1d2e;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 0;
}
.button:after, .button--light:after {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  margin-left: -0.8333333333rem;
  margin-top: -0.8333333333rem;
  background-color: #5b1b23;
  border-radius: 50%;
  content: "";
  display: block;
  height: 1.6666666667rem;
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: scale(0);
  width: 1.6666666667rem;
  z-index: -1;
}
.button:hover:after, .button:focus:after, .button--light:hover:after, .button--light:focus:after {
  opacity: 1;
  transform: scale(9);
}

.button--light:after {
  background-color: white;
  opacity: 0;
}
.button--light:hover, .button--light:focus {
  color: #9a1d2e;
}

.thumbnail {
  height: 13.3333333333rem;
  position: relative;
}
.thumbnail:after {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background-color: rgba(0, 0, 0, 0.325);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.thumbnail:hover:after, .thumbnail:focus:after {
  opacity: 0;
}
.thumbnail__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-link {
  box-shadow: 0 0 2.2222222222rem 0 rgba(0, 0, 0, 0.375), 0 0 1.1111111111rem 0 rgba(0, 0, 0, 0.125);
  display: block;
  height: 21.6666666667rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
}
.card-link__text {
  font-family: "Aguafina Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6180339888rem;
  line-height: 1.5450849719;
  padding: 0.8333333333rem 0.8333333333rem 0.4166666667rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background-color: #9a1d2e;
  color: white;
  display: inline-block;
  left: -1.6666666667rem;
  min-width: 10rem;
  position: absolute;
  top: 61.803398875%;
}
.card-link:hover .card-link__text, .card-link:focus .card-link__text {
  background-color: #1c1817;
}
.card-link__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.hovering-icon {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  bottom: 0.8333333333rem;
  display: block;
  height: 2.5rem;
  position: fixed;
  right: 0.8333333333rem;
  width: 2.5rem;
  z-index: 1;
}
.hovering-icon:hover, .hovering-icon:focus {
  transform: translateX(0%) scale(1.1);
}
.hovering-icon__image {
  height: 100%;
  width: 100%;
}

.form {
  margin-right: -13.3333333333rem;
  padding: 5rem 16.6666666667rem 5rem 3.3333333333rem;
  background-color: #9a1d2e;
  box-shadow: 0 0 2.2222222222rem 0 rgba(0, 0, 0, 0.375), 0 0 1.1111111111rem 0 rgba(0, 0, 0, 0.125);
  color: white;
}
@media screen and (max-width: 1199px) {
  .form {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.6666666667rem;
    padding: 3.3333333333rem 1.6666666667rem;
    max-width: 30.8333333333rem;
  }
}
@media screen and (max-width: 599px) {
  .form {
    margin-left: -0.8333333333rem;
    margin-right: -0.8333333333rem;
    padding-left: 0.8333333333rem;
    padding-right: 0.8333333333rem;
  }
}
.form__field {
  margin-top: 1.6666666667rem;
  padding-left: 0.8333333333rem;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 0.0555555556rem;
  box-sizing: border-box;
  display: block;
  line-height: 1.6111111111rem;
  position: relative;
}
.form__input, .form__textarea {
  height: 1.6666666667rem;
  line-height: 1.6666666667rem;
  width: 100%;
  resize: vertical;
}
.form__input::selection, .form__textarea::selection {
  color: #9a1d2e;
  background-color: white;
}
.form__textarea {
  min-height: 1.6666666667rem;
  max-height: 10rem;
}
.form__label {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  cursor: text;
  display: block;
  height: 1.6666666667rem;
  position: absolute;
  left: 0.8333333333rem;
  transform-origin: left bottom;
  top: 0;
}
.form__input--active ~ .form__label, .form__textarea--active ~ .form__label {
  transform: translateY(-100%) scale(0.675);
}

.form__checkbox {
  margin-top: 1.6666666667rem;
}
.form__recaptcha {
  margin-top: 1.6666666667rem;
}
@media screen and (max-width: 364px) {
  .form__recaptcha .g-recaptcha {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}
.form__button {
  margin-top: 3.3333333333rem;
  border: solid white 0.0555555556rem;
  line-height: 1.5555555556rem;
}

.select {
  height: 1.6666666667rem;
  position: relative;
}
.select__field {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  border-bottom: solid #1c1817 0.0555555556rem;
  height: 1.6111111111rem;
  text-align: left;
}
.select__field:after {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.select__field:after {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  right: 0;
  font-size: 1.25rem;
  vertical-align: -20%;
}
.select__field--active:after {
  transform: rotateZ(180deg);
}
.select__list {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background: white;
  box-shadow: 0 0 0.3333333333rem 0 rgba(0, 0, 0, 0.2), 0 0 0.1666666667rem 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  left: 0;
  max-height: 0px;
  overflow-y: scroll;
  position: absolute;
  top: 0rem;
  z-index: 1;
}
.select__field--active ~ .select__list {
  max-height: 16.6666666667rem;
}

.select__item {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  cursor: pointer;
  display: block;
  list-style: none;
}
.select__link {
  padding-left: 0.4166666667rem;
  padding-right: 0.4166666667rem;
  color: #1c1817 !important;
  display: block;
}
.select__link:hover {
  background: #9a1d2e;
  color: white !important;
}

.checkbox {
  display: block;
}
.checkbox__input {
  display: none;
}
.checkbox__label {
  cursor: pointer;
  line-height: 1.6666666667rem;
  height: 1.6666666667rem;
}
.checkbox__label:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.checkbox__label:before {
  margin-right: 0.4166666667rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background: white;
  color: transparent;
  display: inline-block;
  height: 1.125rem;
  line-height: 1.125rem;
  vertical-align: -10%;
  text-align: center;
  width: 1.125rem;
}
.checkbox__input:checked ~ .checkbox__label:before {
  color: #9a1d2e;
}

.map {
  margin-top: 8.3333333333rem;
}
.map__frame {
  height: 36.6666666667rem;
  width: 100%;
}

.sidebar__button {
  margin-top: 1.6666666667rem;
}
.sidebar__icon-bar {
  margin-top: 1.6666666667rem;
}
.sidebar__menu {
  text-align: center;
}
.sidebar__link, .sidebar__back {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6180339887rem;
  line-height: 2.0833333333rem;
  margin-bottom: 0.4166666667rem;
  margin-top: 0.4166666667rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  outline-color: #1c1817;
  outline-style: solid;
  outline-width: 0.0555555556rem;
  display: block;
  width: 11.6666666667rem;
  text-transform: uppercase;
  text-decoration: none;
}
.sidebar__link:hover, .sidebar__link:focus, .sidebar__back:hover, .sidebar__back:focus {
  background-color: #9a1d2e;
  color: white;
  outline-color: #9a1d2e;
}
.sidebar__back:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.sidebar__back:before {
  font-size: 1.125rem;
  vertical-align: -21%;
}

.fly-effect {
  transition-delay: 0s;
  transition-duration: 0.75s;
  transition-property: all;
  transition-timing-function: ease;
  opacity: 0;
  transform: translateY(5rem);
}
.fly-effect--show {
  opacity: 1;
  transform: translateY(0);
}

.tooltip {
  display: inline-block;
  margin-top: 1.6666666667rem;
  position: relative;
  text-align: center;
}
.tooltip__trigger {
  display: inline-block;
  line-height: 0.625rem;
  height: 0.625rem;
}
.tooltip__content {
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 0.7402573443rem;
  line-height: 1.5;
  box-sizing: border-box;
  background-image: url(../img/baloon.svg);
  background-size: 100% 100%;
  color: black;
  display: inline-block;
  display: block;
  height: 11.1111111111rem;
  margin-top: -12rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.6666666667rem;
  padding-top: 3.0555555556rem;
  padding-left: 1.9444444444rem;
  padding-right: 1.9444444444rem;
  transform-origin: bottom center;
  transition-duration: 0.25s;
  transform: scale(0) rotateZ(-75deg);
  width: 14.4444444444rem;
}
.tooltip:hover .tooltip__content, .tooltip__trigger:focus ~ .tooltip__content {
  transform: scale(1) rotateZ(0deg);
}

.newsletter {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  background-color: #9a1d2e;
  border-radius: 0.5555555556rem 0 0 0.5555555556rem;
  bottom: 4.1666666667rem;
  color: white;
  position: fixed;
  right: 0;
  transform: translateX(19.1666666667rem);
  z-index: 1;
}
@media screen and (max-width: 899px) {
  .newsletter {
    display: none;
  }
}
.newsletter--show {
  transform: translateX(16.6666666667rem);
}
.newsletter--active, .newsletter:focus-within {
  transform: translateX(0);
}
.newsletter__toggle {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  transform: translateY(-65%) translateX(-4.1666666667rem) rotateZ(-90deg);
  transform-origin: center center;
  left: 0;
  top: 50%;
  width: 11.1111111111rem;
}
.newsletter__toggle:after {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.newsletter__toggle:hover {
  transform: translateY(-65%) translateX(-4.1666666667rem) rotateZ(-90deg) scale(1.1);
}
.newsletter__toggle:focus {
  outline-color: white;
}
.newsletter__toggle:after {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: inline-block;
  font-size: 0.8333333333rem;
  transform: rotateZ(180deg);
}
.newsletter__toggle--active:after {
  transform: rotateZ(0deg);
}
.newsletter__content {
  padding: 1.6666666667rem 1.6666666667rem 1.6666666667rem 2.5rem;
  width: 15rem;
}
.newsletter__heading {
  font-size: 0.6180339887rem;
  line-height: 1.3483616573;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: none;
}
.newsletter__field {
  font-size: 0.6180339887rem;
  line-height: 1.3483616573;
  margin-top: 0.8333333333rem;
  display: block;
}
.newsletter__label {
  font-size: 0.6180339887rem;
  line-height: 1.6111111111rem;
  display: inline-block;
}
.newsletter__input {
  padding-left: 0.4166666667rem;
  border-bottom: solid 0.0555555556rem white;
  display: inline-block;
  height: 1.6111111111rem;
  width: 11.6666666667rem;
}
.newsletter__button {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 0.6180339887rem;
  line-height: 1.6111111111rem;
  margin-top: 0.8333333333rem;
  padding-left: 0.8333333333rem;
  padding-right: 0.8333333333rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  border: solid 0.0555555556rem white;
  display: inline-block;
  height: 1.5555555556rem;
  text-transform: uppercase;
}
.newsletter__button:hover {
  background: white;
  color: #9a1d2e;
}

.modal {
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1.6666666667rem;
  position: fixed;
  height: 100vh;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
  transition-duration: 0.25s;
  display: none;
}
.modal.is-active {
  display: table;
}
.modal__brand {
  height: 6.6666666667rem;
}
.modal__label {
  font-family: "Bell MT", fantasy;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2720196495rem;
  line-height: 1.3102522963;
  margin-top: 3.3333333333rem;
  text-transform: uppercase;
}
.modal__paragraph {
  margin-top: 0.8333333333rem;
}
.modal__inline {
  display: inline-block;
}
.modal__button {
  margin-top: 3.3333333333rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border: solid white 0.0555555556rem;
  line-height: 1.5555555556rem;
}
.modal__cell {
  display: table-cell;
  vertical-align: middle;
}

.modal__card {
  background: #9a1d2e;
  border-radius: 1.1111111111rem;
  box-sizing: border-box;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem;
}

.editing {
  display: none;
}

.alert--loading, .alert--success, .alert--failure {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.7861513778rem;
  line-height: 2.1200327492;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.75);
}
.alert--loading:before, .alert--success:before, .alert--failure:before {
  display: inline-block;
  line-height: 0.8333333333rem;
  margin-right: 0.4166666667rem;
  vertical-align: -15%;
}

.alert--failure {
  color: #ffcccc;
}
.alert--failure:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.alert--loading {
  text-shadow: none;
}
.alert--loading:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.alert--loading:before {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: loading-hourglass;
}

.alert--success {
  color: #3df53d;
}
.alert--success:before {
  content: "";
  display: inline-block;
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

@keyframes loading-hourglass {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  background: white;
  font-size: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 3;
}
div[vw] {
  z-index: 1 !important;
}

.loader--hidden {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  opacity: 0;
  visibility: hidden;
}
.loader:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.loader__image {
  height: 13.3333333333rem;
  vertical-align: middle;
  width: auto;
}

/*# sourceMappingURL=style.css.map */
