@use 'sass:color';
@use '../abstracts/all' as *;

.breadcrumb {
    text-align: center;
    width: 100%;
    
    &__item {
        display: inline-block;
    }
    
    &__button {
        background: white;
        border-radius: 50%;
        height: rhythm($breadcrumb-size);
        font-size: 0;
        @include margin(null rem(2px));
        opacity: 0.5;
        overflow: hidden;
        @include transition(0.25s);
        width: rhythm($breadcrumb-size);
        
        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
        
        @at-root .is-active & {
            background-color: color.change($jacarta, $lightness: 62.5%);
        }
    }
}