@use '../abstracts/all' as *;

.brand {
    @include transition(0.25s);
    
    display: inline-block;
    height: 100%;
    
    &:hover, &:focus {
        transform: scale(1.05);
    }
    
    &:focus {
        outline-color: white;
    }
    
    &__image {
        height: 100%;
        width: auto;
    }
}