@use '../abstracts/all' as *;

.featured {
    @include margin(5, top);
    
    display: table;
    width: 100%;
    
    @include break(null 1200) {
        display: block;
    }
    
    &__leaves {
        display: table-cell;
        width: 30%;
        
        @include break(null 1200) {
            display: block;
            height: rhythm(12);
            width: 100%;
        }
    }
    
    &__content {
        @include padding(3 null 1);
        display: table-cell;
        
        @include break(null 1200) {
            background-color: $light-color;
            display: block;
        }
    }
    
    &__card {
        $space: $featured-image-width / 2 + 2;
        @include padding(3 null 4 $space);
        background-color: $light-color;
        
        @include break(null 1200) {
            @include padding(0 null);
            @include trunk;
        }
    }
    
    &__paragraph {
        @include margin(1, top);
        
        max-width: rhythm($trunk-width / 2);
    }
    
    &__button {
        @include margin(1, top);
    }
}