@use '../abstracts/all' as *;

.popup {
    @include transition(0.25s);
    
    background: rgba(0, 0, 0, 0.75);
    font-size: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 2;
    
    &.show {
        opacity: 1;
        visibility: visible;
    }
    
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
    }
    
    &__image {
        height: auto;
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
        width: auto;
    }
    
    &__back, &__next {
        @include font-rhythm(2.25);
        @include transition(0.25s);
        
        color: hsl(0, 0%, 90%);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        
        &:hover {
            transform: translateY(-50%) scale(1.1);
        }
    }
    
    &__back {
        @include icon(chevron-left);
        left: rhythm(1);    
    }
    
    &__next {
        @include icon(chevron-right);
        right: rhythm(1);    
    }
}