/*
 * CONFIG
 */

// The default font size for all text in pixels
$base-font-size: 18px;

// The default untiless line height for all text
$base-line-height: 5 / 3;

// The rhythm unit and default line height for all text in pixels
$rhythm: $base-font-size * $base-line-height;

// The maximun width of the page content
$trunk-width: 37;

$brand-color: hsl(352, 68%, 36%);

$light-color: hsl(43, 20%, 93%);

$leave-color: hsl(12, 10%, 10%);

$header-height: 5.5;

$brand-height: 4;

$header-button-height: 2;

$small-brand-height: 1.5;

$small-header-height: 2.75;

$slideshow-height: 23;

$slideshow-button-height: 2;

$scrawl-height: 3.25;

$branding-gradient-height: 8;

$branding-bottle-height: 6.5;

$branding-bottle-width: 6;

$featured-image-height: 18;

$featured-image-width: 12;

$inferior-padding-height: 10;

$banner-height: 12;

$thumbnail-height: 8;

$gallery-gutter: 0.25;

$video-height: 14;

$card-width: 10;

$card-height: 13;

$field-height: 1;

$form-offset: 8;

// $cod-gray: hsl(12, 10%, 10%);
// $cod-gray: hsl(12, 10%, 10%);

// 

// $scroll-brand-height: 1.5;

// $scroll-header-height: 2.75;

// $paragraph-width: 18;

// 

// $scrawl-gradient-height: 8;



// $social-height: 28;