$icons: (
    outline-down: "\e90e",
    bars: "\e900",
    cancel: "\e901",
    check: "\e902",
    chevron-down: "\e903",
    chevron-left: "\e904",
    chevron-right: "\e905",
    chevron-up: "\e906",
    email: "\e907",
    facebook: "\e908",
    instagram: "\e909",
    phone: "\e90a",
    play: "\e90b",
    tripadvisor: "\e90c",
    whatsapp: "\e90d",
    twitter: "\ea96",
    linkedin: "\eaca",
    spinner: "\e984",
);