@charset "UTF-8";
@font-face {
  font-family: "Icomoon";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
}
* {
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: top;
}

html {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
  scroll-behavior: smooth;
  -webkit-text-align-adjust: 100%;
}

:target {
  scroll-margin-top: 7.5rem;
}

body {
  padding-top: 7.5rem;
  background-color: #f0f0f0;
  overflow-x: hidden;
}
@media screen and (max-width: 37.4375rem) {
  body {
    background-color: white;
  }
}

::selection {
  color: white;
  background: #024569;
}

::-moz-selection {
  color: white;
  background: #024569;
}

::-webkit-selection {
  color: white;
  background: #024569;
}

ol, ul {
  list-style-type: none;
}

h1 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.6180339928rem;
  line-height: 1.718847048;
}

h2 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.0581710296rem;
  line-height: 1.4576048136;
}

h3 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.61803399rem;
  line-height: 1.8541019648;
}

h4 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.27201965rem;
  line-height: 1.1792270662;
}

h5 {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
}

p {
  font-size: 1.1278384858rem;
  line-height: 1.3299776687;
  margin-top: 1.5rem;
  text-align: justify;
}
@media screen and (max-width: 37.4375rem) {
  p {
    font-size: 0.8866517791rem;
    line-height: 1.6917577287;
  }
}

em {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.1278384858rem;
  line-height: 1.3299776687;
  margin-top: 1.5rem;
}

i {
  font-family: Raleway, sans-serif;
  font-style: italic;
  font-weight: 400;
}

abbr {
  border-bottom-color: #333333;
  border-bottom-style: dashed;
  border-bottom-width: 0.0625rem;
  text-decoration: none !important;
}

button {
  background: transparent;
  cursor: pointer;
  -webkit-appearance: button;
}

input, textarea {
  background: transparent;
  height: 1.5rem;
  width: 100%;
}

img {
  height: auto;
  width: 100%;
}

iframe {
  height: 100%;
  width: 100%;
}

.brand {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: inline-block;
  height: 100%;
}
.brand:hover {
  transform: scale(1.05);
}
.brand__image {
  height: 100%;
  width: auto;
}

@media screen and (min-width: 56.25rem) {
  .menu {
    margin-left: -1.125rem;
    margin-right: -1.125rem;
  }
}
@media screen and (min-width: 56.25rem) {
  .menu__item {
    padding-left: 1.125rem;
    padding-right: 1.125rem;
    display: inline-block;
    letter-spacing: 0.0625rem;
  }
  .menu__item:after {
    margin-bottom: -0.25rem;
    margin-top: 0.125rem;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
    border-radius: 0.0625rem;
    content: "";
    display: block;
    height: 0.125rem;
    width: 0;
  }
  .menu__item:hover:after {
    background: #ff334b;
    width: 100%;
  }
}
@media screen and (max-width: 56.1875rem) {
  .menu__item:first-child {
    padding-top: 1.5rem;
  }
  .menu__item:last-child {
    padding-bottom: 1.5rem;
  }
}
.menu__anchor {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 0.8866517791rem;
  line-height: 1.6917577287;
  color: #024569;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 56.1875rem) {
  .menu__anchor {
    font-size: 1.1278384858rem;
    line-height: 1.3299776687;
    padding-bottom: 0.375rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.375rem;
    transition-delay: 0s;
    transition-duration: 0.25s;
    transition-property: all;
    transition-timing-function: ease;
    color: white;
    display: block;
    transform-origin: left center;
  }
  .menu__anchor:hover {
    background: white;
    color: #024569;
  }
}

.icon-bar {
  font-size: 0;
}
.icon-bar__item {
  margin-left: 0.5625rem;
  margin-right: 0.5625rem;
  display: inline-block;
}
.icon-bar__item:first-of-type {
  margin-left: 0rem;
}
.icon-bar__item:last-of-type {
  margin-right: 0rem;
}
.icon-bar__icon, .icon-bar__icon--large {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: inline-block;
  font-size: 0;
  display: block;
  text-decoration: none;
}
.icon-bar__icon:hover, .icon-bar__icon--large:hover {
  transform: scale(1.2);
}
.icon-bar__icon:before, .icon-bar__icon--large:before {
  font-size: 1rem;
  line-height: 1.5;
}
.icon-bar__icon.linkedin-icon:before, .icon-bar__icon--large.linkedin-icon:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.icon-bar__icon.facebook-icon:before, .icon-bar__icon--large.facebook-icon:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.icon-bar__icon.pinterest-icon:before, .icon-bar__icon--large.pinterest-icon:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.icon-bar__icon.instagram-icon:before, .icon-bar__icon--large.instagram-icon:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.icon-bar__icon.behance-icon:before, .icon-bar__icon--large.behance-icon:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.icon-bar__icon.youtube-icon:before, .icon-bar__icon--large.youtube-icon:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.icon-bar__icon.whatsapp-icon:before, .icon-bar__icon--large.whatsapp-icon:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.icon-bar__icon--large:before {
  font-size: 1.27201965rem;
  line-height: 1.1792270662;
}

.upright-line {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 2.3212844975rem;
  line-height: 1.2923879013;
  display: inline-block;
  letter-spacing: 0.125rem;
}
@media screen and (max-width: 37.4375rem) {
  .upright-line {
    font-size: 1.8248810052rem;
    line-height: 1.6439428058;
  }
}
.upright-line:before {
  margin-bottom: 1.5rem;
  background-color: #ff334b;
  content: "";
  display: block;
  height: 4.5rem;
  width: 0.3125rem;
}

.heading {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.61803399rem;
  line-height: 1.8541019648;
  color: #0084ff;
  letter-spacing: 0.0625rem;
}
.heading:before {
  margin-left: -1.5625rem;
  margin-right: 0.75rem;
  background-color: #0084ff;
  content: "";
  display: inline-block;
  height: 4.5rem;
  vertical-align: -50%;
  width: 0.3125rem;
}

.hovering-icon {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  bottom: 0.75rem;
  display: block;
  height: 4.125rem;
  position: fixed;
  right: 0.75rem;
  transform: translateX(150%);
  width: 4.125rem;
}
@media screen and (max-width: 68.6875rem) {
  .hovering-icon {
    display: none;
  }
}
.hovering-icon.show {
  transform: translateX(0%);
}
.hovering-icon.show:hover {
  transform: translateX(0%) scale(1.1);
}
.hovering-icon__image {
  height: 100%;
  width: 100%;
}

.photo {
  margin-left: -15%;
  margin-right: -15%;
  transition-delay: 0s;
  transition-duration: 1s;
  transition-property: all;
  transition-timing-function: ease;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.3), 0 0 0.625rem 0 rgba(0, 0, 0, 0.3);
  height: auto;
  transform: translateX(-20%);
  width: 130%;
}
.photo.show {
  transform: translateX(0);
}
@media screen and (max-width: 68.6875rem) {
  .photo {
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
  }
}

.button {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background-color: #024569;
  border-color: #024569;
  border-radius: 0.1875rem;
  border-style: solid;
  border-width: 0.0625rem;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  height: 2.25rem;
  line-height: 2.25rem;
  text-decoration: none;
}
.button:hover {
  background-color: white;
  color: #024569;
}

.client-brand {
  height: 6rem;
  width: auto;
}

.intent {
  margin-left: 3rem;
  margin-top: 3rem;
}
@media screen and (max-width: 56.1875rem) {
  .intent {
    margin-left: 0rem;
    margin-top: 1.5rem;
  }
}
.intent__heading {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.27201965rem;
  line-height: 1.1792270662;
  color: #ff334b;
  letter-spacing: 0.0625rem;
}
.intent__paragraph {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.75rem;
}

.field {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background: white;
  border-color: #d9d9d9;
  border-radius: 0.1875rem;
  border-style: solid;
  border-width: 0.0625rem;
  box-sizing: border-box;
  display: block;
  line-height: 3rem;
  position: relative;
}
.field__label {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  color: gray;
  cursor: text;
  height: 100%;
  position: absolute;
  margin-left: 0px;
}
.hide .field__label {
  opacity: 0;
}

.field__input, .field__text {
  height: 3rem;
  width: 100%;
}
.field__text {
  height: 9rem;
  line-height: 3rem;
  max-height: 15rem;
  min-height: 3rem;
  width: 100%;
  resize: vertical;
}

.form {
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  overflow: hidden;
}
.form:first-of-type {
  margin-top: 4.5rem;
}
.form__header {
  padding-right: 1.5rem;
  box-sizing: border-box;
  float: left;
  width: 38.196601125%;
}
@media screen and (max-width: 56.1875rem) {
  .form__header {
    float: none;
    width: 100%;
  }
}
.form__paragraph {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.27201965rem;
  line-height: 1.1792270662;
  margin-top: 0rem;
  text-align: left;
}
.form__content {
  box-sizing: border-box;
  float: right;
  width: 61.803398875%;
}
@media screen and (max-width: 56.1875rem) {
  .form__content {
    margin-top: 1.5rem;
    float: none;
    width: 100%;
  }
}
.form__field {
  margin-top: 1.5rem;
}
.form__field:first-of-type {
  margin-top: 0rem;
}
.form__button, .form__checkbox, .form__recaptcha {
  margin-top: 1.5rem;
}
@media screen and (max-width: 56.1875rem) {
  .form__button, .form__checkbox, .form__recaptcha {
    text-align: center;
  }
}
.form__recaptcha .g-recaptcha {
  display: inline-block;
}

.map {
  width: 115%;
}
@media screen and (max-width: 81.1875rem) {
  .map {
    width: 100%;
  }
}

.video {
  padding-bottom: 3rem;
  padding-top: 1.5rem;
}
.video__iframe {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  display: block;
  height: 28.5rem;
  max-width: 43.5rem;
  width: 100%;
}

.select {
  height: 1.5rem;
  position: relative;
}
.select__button {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  vertical-align: middle;
}
.select__button:after {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.select__button:hover {
  color: #0084ff;
}
.select__button:after {
  margin-left: 0.1875rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  display: inline-block;
  vertical-align: middle;
}
.select__button.show:after {
  transform: rotateZ(180deg);
}
.select__list {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background: white;
  box-shadow: 0 0 0.375rem 0 rgba(0, 0, 0, 0.2), 0 0 0.1875rem 0 rgba(0, 0, 0, 0.3);
  display: inline-block;
  left: 0;
  max-height: 0px;
  overflow: hidden;
  position: absolute;
  top: 2.25rem;
  z-index: 1;
}
.show ~ .select__list {
  max-height: 12rem;
}

.select__item {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  cursor: pointer;
}
.select__item:first-child {
  margin-top: 0.75rem;
}
.select__item:last-child {
  margin-bottom: 0.75rem;
}
.select__item:hover {
  background: #024569;
  color: white;
}

.header {
  background-color: white;
  box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, 0.2), 0 0 0.3125rem 0 rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 2.25rem;
  width: 100%;
  z-index: 2;
}
.header__content {
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  font-size: 0;
  text-align: justify;
}
.header__content:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.header__brand {
  display: inline-block;
  height: 3.75rem;
  vertical-align: middle;
}
.header__menu {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 56.1875rem) {
  .header__menu {
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
    background: #024569;
    box-shadow: 0 0.3125rem 0.625rem 0 rgba(0, 0, 0, 0.2), 0 0 0.3125rem 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color: white;
    max-height: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 7.5rem;
    width: 50%;
  }
  .show ~ .header__menu {
    max-height: 16.5rem;
  }
}
@media screen and (max-width: 56.1875rem) and (max-width: 37.4375rem) {
  .header__menu {
    width: 100%;
  }
}
.header__icon-bar {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 37.5rem) {
  .header__icon-bar {
    display: none;
  }
}

.ribbon {
  background-color: #024569;
  color: white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.ribbon__content {
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  padding-bottom: 0.375rem;
  padding-top: 0.375rem;
  overflow: hidden;
}
.ribbon__heading {
  font-size: 1rem;
  line-height: 1.5;
  float: left;
  letter-spacing: 0.0625rem;
}
@media screen and (max-width: 37.4375rem) {
  .ribbon__heading {
    float: none;
    text-align: center;
  }
}
.ribbon__phone {
  text-decoration: none;
}
.ribbon__icon-bar {
  float: right;
}
@media screen and (max-width: 37.4375rem) {
  .ribbon__icon-bar {
    display: none;
  }
}

.banner {
  background-attachment: fixed;
  background-color: #1e3047;
  background-image: url(../img/header-background.jpg);
  background-position: center;
  background-size: cover;
  height: calc(100vh - 7.5rem);
}
.banner__content {
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  font-size: 0;
}
.banner__content:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.banner__heading {
  color: white;
  max-width: 31.5rem;
  vertical-align: middle;
}

.article {
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  padding-top: 3rem;
}
.article__heading {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 2.3212844975rem;
  line-height: 1.2923879013;
  margin-left: 38.196601125%;
  margin-right: -38.196601125%;
  padding-left: 7.5rem;
}
@media screen and (max-width: 56.1875rem) {
  .article__heading {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2.0581710296rem;
    line-height: 1.4576048136;
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 0rem;
    text-align: center;
  }
}

.paper, .paper--transparent {
  margin-bottom: 0rem;
  margin-left: 38.196601125%;
  margin-right: -38.196601125%;
  margin-top: 3rem;
  background: white;
}
@media screen and (max-width: 68.6875rem) {
  .paper, .paper--transparent {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}
@media screen and (max-width: 37.4375rem) {
  .paper, .paper--transparent {
    margin-top: 0rem;
  }
}
.paper:first-child, .paper--transparent:first-child {
  margin-top: 0rem;
}
.paper__content {
  padding-bottom: 6rem;
  padding-left: 7.5rem;
  padding-right: 0rem;
  padding-top: 3rem;
  box-sizing: border-box;
  position: relative;
  width: 61.803398875%;
}
@media screen and (max-width: 68.6875rem) {
  .paper__content {
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
  }
}
@media screen and (max-width: 37.4375rem) {
  .paper__content {
    padding-bottom: 3rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 1.5rem;
  }
}
.paper__photo {
  margin-right: -1.5rem;
  margin-top: 1.5rem;
  position: absolute;
  right: 100%;
  width: 61.803398875%;
}
@media screen and (max-width: 68.6875rem) {
  .paper__photo {
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    max-width: 33rem;
    position: static;
    text-align: center;
    width: 100%;
  }
}
.paper__button {
  margin-top: 1.5rem;
}
@media screen and (max-width: 68.6875rem) {
  .paper__button {
    text-align: center;
  }
}

.paper--transparent {
  background: transparent;
}

.client {
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
  background-color: #ff334b;
  color: white;
}
.client__content {
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}
.client__heading {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}
.client__list {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  font-size: 0;
}
.client__item {
  margin-top: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 14.2857142857%;
}
@media screen and (max-width: 49.9375rem) {
  .client__item {
    width: 16.6666666667%;
  }
}
@media screen and (max-width: 43.6875rem) {
  .client__item {
    width: 20%;
  }
}
@media screen and (max-width: 37.4375rem) {
  .client__item {
    width: 25%;
  }
}
@media screen and (max-width: 31.1875rem) {
  .client__item {
    width: 33.3333333333%;
  }
}

.footer {
  margin-top: 4.5rem;
  background-color: #024569;
  color: white;
}
.footer__content {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}
.footer__content:after {
  clear: both;
  content: "";
  display: table;
}
.footer__text {
  padding-right: 1.5rem;
  box-sizing: border-box;
  float: left;
  width: 38.196601125%;
}
@media screen and (max-width: 68.6875rem) {
  .footer__text {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 68.6875rem) {
  .footer__text {
    text-align: center;
  }
}
.footer__heading {
  font-size: 1.27201965rem;
  line-height: 1.1792270662;
  margin-top: 3rem;
}
.footer__paragraph {
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
}
.footer__paragraph:first-of-type {
  margin-top: 1.5rem;
}
@media screen and (max-width: 68.6875rem) {
  .footer__paragraph {
    text-align: center;
  }
}
.footer__anchor {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}
.footer__map {
  padding-top: 3rem;
  box-sizing: border-box;
  float: right;
  height: 27rem;
  width: 61.803398875%;
}
@media screen and (max-width: 68.6875rem) {
  .footer__map {
    float: none;
    width: 100%;
  }
}

.contact {
  box-sizing: border-box;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 43.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  padding-bottom: 4.5rem;
  padding-top: 4.5rem;
}
.contact__form {
  margin-top: 1.5rem;
  text-align: center;
}
.contact__field, .contact__button {
  margin-top: 1.5rem;
}

.gallery {
  margin-top: 1.5rem;
  font-size: 0;
}
.gallery__item {
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  margin-top: 0.375rem;
  box-sizing: border-box;
  display: none;
  height: 10.5rem;
  overflow: hidden;
  width: 20%;
}
@media screen and (max-width: 62.4375rem) {
  .gallery__item {
    width: 25%;
  }
}
@media screen and (max-width: 49.9375rem) {
  .gallery__item {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 37.4375rem) {
  .gallery__item {
    width: 50%;
  }
}
@media screen and (max-width: 24.9375rem) {
  .gallery__item {
    width: 100%;
  }
}
.gallery__item.show {
  display: inline-block;
}
.gallery__curtain {
  cursor: pointer;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.gallery__curtain:after {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background: rgba(2, 69, 105, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  width: 100%;
}
.gallery__curtain:hover:after {
  transform: translateY(0%);
}
.gallery__image {
  display: inline-block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.popup {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background: rgba(0, 0, 0, 0.75);
  font-size: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}
.popup.show {
  opacity: 1;
  visibility: visible;
}
.popup:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
}
.popup__image {
  height: auto;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  width: auto;
}
.popup__back, .popup__next {
  font-size: 1.7183478967rem;
  line-height: 1.7458629919;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  color: #e6e6e6;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.popup__back:hover, .popup__next:hover {
  transform: translateY(-50%) scale(1.1);
}
.popup__back {
  left: 1.5rem;
}
.popup__back:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.popup__next {
  right: 1.5rem;
}
.popup__next:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}

.editing {
  display: none;
}

.loader {
  background: white;
  font-size: 0;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
}
.loader:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.loader.hide {
  transition-delay: 0s;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease;
  opacity: 0;
  visibility: hidden;
}
.loader__image {
  display: inline-block;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  width: auto;
}

.bars-button {
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  color: #024569;
  font-size: 0;
  vertical-align: middle;
  text-align: center;
  width: 1.875rem;
}
.bars-button:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.bars-button:before {
  font-size: 1.8248810052rem;
  line-height: 1.6439428058;
}
.bars-button.show:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.bars-button.show.show:before {
  font-size: 1.7183478967rem;
  line-height: 1.7458629919;
}
.bars-button:hover {
  transform: scale(1.1);
}
.bars-button:active {
  transform: scale(0.95);
}
@media screen and (min-width: 56.25rem) {
  .bars-button {
    display: none;
  }
}

.checkbox {
  display: block;
}
.checkbox__input {
  display: none;
}
.checkbox__label {
  cursor: pointer;
  line-height: 1.5rem;
  height: 1.5rem;
}
.checkbox__label:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.checkbox__label:before {
  margin-right: 0.375rem;
  transition-delay: 0s;
  transition-duration: 0.25s;
  transition-property: all;
  transition-timing-function: ease;
  background: white;
  border-width: 0.0625rem;
  border-radius: 0.125rem;
  border-style: solid;
  border-color: #d9d9d9;
  color: transparent;
  display: inline-block;
  height: 1.125rem;
  line-height: 1.125rem;
  vertical-align: -10%;
  text-align: center;
  width: 1.125rem;
}
.checkbox__input:checked ~ .checkbox__label:before {
  background-color: #024569;
  border-color: #024569;
  color: white;
}

.alert--loading, .alert--success, .alert--failure {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: inherit;
  height: 1.5rem;
}
.alert--loading:before, .alert--success:before, .alert--failure:before {
  display: inline-block;
  line-height: 0.75rem;
  margin-right: 0.375rem;
  vertical-align: -10%;
}

.alert--failure {
  color: #f76262;
}
.alert--failure:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}

.alert--loading:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}
.alert--loading:before {
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-name: loading-hourglass;
}

.alert--success {
  color: #0ab60a;
}
.alert--success:before {
  content: "";
  font-family: "Icomoon" !important;
  font-style: normal;
  font-weight: normal;
}

@keyframes loading-hourglass {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

/*# sourceMappingURL=style.css.map */
