@use '../config' as *;
@use '../utilities/all' as *;

.form-response {
    display: none;
    font-weight: inherit;
    margin-top: rhythm(1);
    
    &--visible {
        display: block;
    }
    
    &__icon {
        animation-name: spinner-icon;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        fill: $theme-color-1;
        height: 1.5em;
        vertical-align: -0.25em;
        margin-right: 0.125em;
        width: auto;
        
        @keyframes spinner-icon {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(180deg);
            }
        }
    }
}