@use '../config' as *;
@use '../utilities/all' as *;

.newsletter {
    @include wrapper($form-width);
    @include padding(rhythm(3) null);
    
    text-align: center;
    
    @media screen and (max-width: 899px) {
        @include padding(rhythm(2) null);
    }
    
    &__heading {
        @include font-rhythm(ratio(3.8125));
        font-weight: 300;
        
        @media screen and (max-width: 899px) {
            @include font-rhythm(ratio(2));
        }
    }
    
    &__form {
        font-size: 0;
        margin-top: rhythm(1);
        text-align: justify;
        
        @media screen and (max-width: 899px) {
            text-align: center;
        }
        
        &::after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    
    &__field {
        width: calc(50% - #{div($form-button, 2) + rhythm(1)});
        
        @media screen and (max-width: 899px) {
            @include margin(rhythm(1) auto null);
            
            display: block;
            max-width: rem(400px);
            width: 100%;
        }
    }
    
    &__button {
        vertical-align: middle;
        width: $form-button;
        
        @media screen and (max-width: 899px) {
            margin-top: rhythm(1);
        }
    }
}