@use '../abstracts/all' as *;

.blazon, %blazon {
    @include rectangle(rhythm(5), 1.3);
    background: {
        image: url('../img/boschi-light-logo.svg');
        position: center center;
        repeat: no-repeat;
        size: 100% auto;
    }
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-indent: -1000%;
    
    @at-root &__anchor {
        display: block;
        height: 100%;
        width: 100%;
    }
}

.blazon--darker {
    @extend %blazon;
    @include rectangle(rhythm(7), 1.3);
    background-image: url('../img/boschi-logo.svg');
}

.blazon--larger {
    @extend %blazon;
    @include rectangle(rhythm(7), 1.3);
}