@use 'sass:color';
@use '../config' as *;
@use '../utilities/all' as *;
@use '../utilities/library' as *;

/*
* Editing
*/

.logo {
    display: inline-block;
    font-size: 1em;
    height: 100%;
    
    &__image {
        height: 100%;
        width: auto;
    }
}

.header {
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    transition-property: background-color, box-shadow, color;
    transition-duration: 500ms;
    z-index: 1;
    
    &--fixed {
        @keyframes header-fixed {
            from {
                transform: translateY(-100%);
            }
            to {
                transform: translateY(0%);
            }
        }
        
        animation-name: header-fixed;
        animation-duration: 1s;
        animation-iteration-count: 1;
        position: fixed;
    }
    
    @at-root .home-page &, &--fixed {
        background-color: hsl(0, 0%, 97%);
        box-shadow: 0 0 rem(3px) rem(1px) rgba(0, 0, 0, 0.125);
        color: hsl(0, 0%, 55%);
    }
    
    &__wrapper {
        @include wrapper;
        @include padding($header-leader null);
        
        &:after {
            clear: both;
            content: '';
            display: table;
        }
    }
    
    &__logo {
        float: left;
        font-size: 1em;
        height: $logo-height;
    }
    
    &__button {
        @media (min-width: 900px) {
            display: none;
        }
        
        float: right;
        margin-top: div($logo-height - 2.5rem, 2);
    }
    
    &__menu {
        @media (min-width: 900px) {
            float: right;
            margin-top: div($logo-height - rhythm(1), 2);
        }
        
        @media (max-width: 899px) {
            bottom: 0;
            left: 0;
            position: absolute;
            max-height: 0;
            overflow: hidden;
            transform: translateY(100%);
            transition: max-height 500ms;
            width: 100%;
            
            @at-root .menu-button--active + & {
                max-height: rhythm(10);
            }
        }
    }
}

.menu-button {
    @include padding(0.25em);
    
    background-color: $theme-color-1;
    box-sizing: border-box;
    color: white;
    height: 2.5em;
    width: 2.5em;
    
    &__icon {
        height: 100%;
        width: auto;
        
        path {
            transform-origin: center;
            transition-duration: 500ms;
            transition-property: transform;
        }
    }
    
    &--active &__icon {
        path {
            &:nth-of-type(1) {
                transform: rotateZ(45deg) translate(0%, 20%);
            }

            &:nth-of-type(2) {
                transform: rotateZ(45deg) translate(0%, -20%);
            }

            &:nth-of-type(3) {
                transform: rotateZ(-45deg);
            }
        }
    }
}

.header-menu {
    @media (max-width: 900px) {
        @include wrapper;
        @include padding(0.5 null 1);
        
        background-color: $theme-color-1;
        box-sizing: border-box;
        width: 100%;
    }
    
    &__item {
        @media (min-width: 900px) {
            @include font-rhythm(-1);
            @include margin(null 1);

            display: inline-block;

            &:last-of-type {
                margin-right: 0;
            }
        }
        
        @media (max-width: 899px) {
            @include padding(0.5 null);
            
            color: white;
            text-align: center;
            
            &:last-of-type::before {
                @include margin(rem(-1px) null 1);
                
                background-color: color.mix($theme-color-1, white, 75%);
                content: '';
                display: block;
                height: rem(1px);
                width: 100%;
            }
        }
    }
    
    &__link {
        font-family: $heading-family;
        font-weight: 700;
        position: relative;
        text-transform: uppercase;
        
        &::after {
            background-color: $theme-color-3;
            content: '';
            display: block;
            height: rem(2px);
            left: 50%;
            position: absolute;
            transition: left 250ms, width 250ms;
            width: 0%;
            
            @media (max-width: 899px) {
                background-color: white;
            }
        }
        
        &:hover::after, &:focus::after {
            left: 0%;
            width: 100%;
        }
        
        &--access {
            @include padding(0.375 1.25);
        
            background-color: $theme-color-2;
            border-radius: rhythm(1);
            color: white;
            transition: background-color 250ms;
            
            &:hover, &:focus {
                background-color: color.change($theme-color-2, $lightness: 35%);
            }
            
            &::after {
                content: none;
            }
        }
    }
}

.slideshow {
    background-image: linear-gradient(to bottom, bezier-gradient(0.6 0.3, 0.7 0.4, 6, hsl(0, 0%, 97%), hsl(0, 0%, 80%)));
    box-sizing: border-box;
    height: 100vh;
    min-height: rhythm(25);
    padding-top: $scroll-margin;
    position: relative;
    z-index: 0;
    
    @media (max-width: 1199px) {
        display: none;
    }
    
    &__heading {
        clip-path: inset(50%);
        height: rem(1px);
        overflow: hidden;
        position: absolute;
        width: rem(1px);
        white-space: nowrap;
    }
    
    &__wrapper {
        height: 100%;
        position: relative;
        z-index: 0;
    }
    
    &__slide {
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        visibility: hidden;
        transition: opacity 1s, visibility 1s;
        
        &--show {
            opacity: 1;
            transition: none;
            visibility: visible;
        }
    }
    
    &__bullets {
        bottom: rhythm(1);
        position: absolute;
        text-align: center;
        width: 100%;
    }
}

.slide {
    @include font-rhythm(4.5, rhythm(2.5));
        
    &__paragraph {
        font-weight: 700;
        position: absolute;
        left: 50%;
        margin-left: div(0 - $wrapper-width, 2);
        text-transform: uppercase;
        transform: translateY(-50%);
        top: 50%;
    }
    
    &__line {
        display: block;
        opacity: 0;
        transition: opacity 1s;
        
        @at-root .slideshow__slide--show & {
            opacity: 1;
        }
        
        &--mark {
            @include font-rhythm(3.5, rhythm(2.5));
            font-weight: 400;
        }
    }
    
    &__stress {
        color: $theme-color-1;
        font-style: normal;
    }
    
    &__image {
        height: rhythm(20);
        margin-right: div(0 - $wrapper-width, 2);
        position: absolute;
        right: 50%;
        transform: translateY(-50%);
        top: 50%;
        width: auto;
        
        @at-root .slideshow__slide--show & {
            @keyframes slide-image {
                from {
                    opacity: 0;
                    transform: translate(100%, -50%);
                }
                to {
                    opacity: 1;
                    transform: translate(0%, -50%);
                }
            }
            animation: {
                name: slide-image;
                duration: 1s;
                iteration-couut: 1;
            }
        }
    }
}

.slide-button {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    &--back {
        left: rhythm(1);
    }
    
    &--next {
        right: rhythm(1);
    }
    
    &__icon {
        fill: $theme-color-3;
        height: rhythm(1.75);
        width: rhythm(1.75);
    }
}

.slide-bullet {
    $size: rhythm(0.75);
    display: inline-block;
    
    &__button {
        border: {
            color: $theme-color-3;
            radius: $size;
            style: solid;
            width: rem(3px);
        }
        height: $size;
        width: $size;
        transition: background-color 250ms;
    }
    
    &--active &__button {
        background-color: $theme-color-3;
    }
}

.short {
    @include wrapper;
    @include padding(3.5 null);
    
    text-align: center;
    
    @media (max-width: 1199px) {
        padding-top: $scroll-margin + rhythm(3.5);
    }
    
    &__stress {
        @include padding(0.1875 rem(4.26666px) 0.0625);
        
        background-color: $theme-color-1;
        color: white;
    }
    
    &__paragraph {
        @include font-rhythm(1.25, rhythm(1.5));
        
        margin-top: rhythm(2);
        text-align: justify;
        
        @media (max-width: 899px) {
            @include font-rhythm(0);
        }
    }
    
    &__button {
        @include font-rhythm(0.5);
        @include padding(rhythm(0.5, 2px) 1);
        
        background-color: $theme-color-1;
        border: {
            color: $theme-color-1;
            style: solid;
            width: rem(2px);
        }
        color: white;
        display: inline-block;
        font-family: $heading-family;
        margin-top: rhythm(2);
        text-transform: uppercase;
        transition: background-color 250ms, color 250ms;
        
        &:hover {
            background-color: transparent;
            color: $theme-color-1;
        }
    }
}

.brief {
    background: {
        color: $theme-color-1;
        image: url(../img/brief.webp);
        position: center;
        size: cover;
    }
    color: white;
    text-align: center;
    
    &__wrapper {
        @include wrapper;
        @include padding(3.5 null);
    }
    
    &__stress {
        @include padding(0.1875 rem(4.26666px) 0.0625);
        
        background-color: white;
        color: $theme-color-1;
    }
    
    &__paragraph {
        @include font-rhythm(1.25, rhythm(1.5));
        
        margin-top: rhythm(2);
        text-align: justify;
        width: div(100%, $phi);
        
        @media (max-width: 899px) {
            width: 100%;
            @include font-rhythm(0);
        }
    }
    
    &__button {
        @include font-rhythm(0.5);
        @include padding(rhythm(0.5, 2px) 1);
        
        background-color: white;
        border: {
            color: white;
            style: solid;
            width: rem(2px);
        }
        color: $theme-color-1;
        display: inline-block;
        font-family: $heading-family;
        margin-top: rhythm(2);
        text-transform: uppercase;
        
        transition: color 250ms;
        
        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

.plans {
    @include wrapper;
    @include padding(3.5 null 5);
    
    text-align: center;
    
    &__stress {
        @include padding(0.1875 rem(4.26666px) 0.0625);
        
        background-color: $theme-color-1;
        color: white;
    }
    
    &__paragraph {
        @include font-rhythm(1.25, rhythm(1.5));
        
        &:first-of-type {
            margin-top: rhythm(2);
        }
        
        @media (max-width: 900px) {
            @include font-rhythm(0);
        }
    }
    
    &__context {
        position: relative;
    }
    
    &__view {
        overflow: hidden;
    }
    
    &__list {
        @include margin(null -0.375);
        
        transition: transform 500ms;
        white-space: nowrap;
    }
    
    &__item {
        @include padding(null 0.375);
        
        box-sizing: border-box;
        display: inline-block;
        margin-right: rem(-4.26666px);
        width: 25%;
        white-space: normal;
        
        @media (max-width: 1200px) {
            width: div(100%, 3);
        }
        
        @media (max-width: 900px) {
            width: div(100%, 2);
        }
        
        @media (max-width: 600px) {
            width: div(100%, 1);
        }
    }
}

.plans-button {
    color: hsl(0, 0%, 50%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 250ms, visibility 250ms;
    
    &--back {
        left: rhythm(-2);
        
        @media (max-width: 1199px) {
            left: rhythm(-1);
        }
    }
    
    &--next {
        right: rhythm(-2);
        
        @media (max-width: 1199px) {
            right: rhythm(-1);
        }
    }
    
    &--hidden {
        opacity: 0;
        visibility: hidden;
    }
    
    &__icon {
        height: rhythm(1.75);
        width: rhythm(1.75);
    }
}

.plan-card {
    background-color: hsl(0, 0%, 97%);
    font-family: $heading-family;
    font-weight: 400;
    padding-bottom: rhythm(1);
    text-align: center;
    
    &__header {
        @include padding(0.5 0.5 null);
        
        background-color: #494949;
        color: white;
        position: relative;
        transition: background-color 500ms;
        z-index: 0;
        
        &::after {
            background-image: linear-gradient(to bottom right, currentColor 0% 48.75%, transparent 51.25% 100%);
            color: #494949;
            content: '';
            display: block;
            height: rhythm(1);
            left: 0;
            position: absolute;
            transition: color 500ms;
            width: 100%;
        }
    }
    
    &:hover &__header {
        background-color: $theme-color-1;
        
        &::after {
            color: $theme-color-1;
        }
    }
    
    &__heading {
        font-family: $default-family;
        font-weight: 500;
        min-height: rhythm(3);
    }
    
    &__price {
        @include font-rhythm(-0.5);
            
        font-weight: 300;
        margin-top: rhythm(1);
        text-transform: uppercase;
    }
    
    &__value {
        @include font-rhythm(4);
        vertical-align: baseline;
    }
    
    &__list {
        @include padding(1.5 0.5 null);
        
        transition: transform 500ms;
    }
    
    &__item {
        margin-top: rhythm(0.5);
    }
    
    &__button {
        @include font-rhythm(0.5);
        @include padding(rhythm(0.5, 2px) 1);
        
        background-color: $theme-color-1;
        border: {
            color: $theme-color-1;
            style: solid;
            width: rem(2px);
        }
        color: white;
        display: inline-block;
        font-family: $heading-family;
        margin-top: rhythm(1);
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        transition: color 250ms;
        z-index: 0;
        
        &:hover {
            background-color: transparent;
            color: $theme-color-1;
        }
    }
}

.plan-select {
    border: {
        color: hsl(0, 0%, 75%);
        style: solid;
        width: rem(1px);
    }
    margin-top: rhythm(1);
    position: relative;
    z-index: 0;
    
    &__button {
        @include font-rhythm(0, rhythm(2, $offset: 2px));
        width: 100%;
    }
    
    &__icon {
        position: absolute;
        right: rem(6px);
        top: 50%;
        transform: translateY(-50%);
    }
    
    &__button--active &__icon {
        transform: translateY(-50%) rotateZ(180deg);
    }
    
    &__list {
        background-color: white;
        color: hsl(0, 0%, 20%);
        left: 0;
        position: absolute;
        right: 0;
        opacity: 0;
        max-height: 0;
        transition: opacity 500ms, max-height 500ms, visibility 500ms;
        visibility: hidden;
    }
    
    &__button--active + &__list {
        opacity: 1;
        max-height: rhythm(10);
        visibility: visible;
    }
    
    &__item {
        @include font-rhythm(0, rhythm(1.5));
        
        cursor: pointer;
        
        &:hover {
            background-color: hsl(0, 0%, 20%);
            color: white;
        }
    }
}

.newsletter {
    background-color: #5c626c;
    color: white;
    text-align: center;
    
    &__wrapper {
        @include wrapper;
        @include padding(2 null);
    }
    
    &__paragraph {
        @include font-rhythm(1.25, rhythm(1.5));
        margin-top: rhythm(1);
        
        @media (max-width: 900px) {
            @include font-rhythm(0);
        }
    }
    
    &__form {
        @media (min-width: 900px) {
            margin-top: rhythm(1);
        }
    }
    
    &__field {
        @media (min-width: 900px) {
            @include margin(null 0.375);
            
            display: inline-block;
        
            &:first-child {
                margin-left: 0;
            }
        }
        
        @media (max-width: 900px) {
            @include margin(1 auto null);
            
            display: block;
        }
    }
    
    &__button {
        @include font-rhythm(0.5);
        @include padding(rhythm(0.5, 2px) 1);
        
        background-color: white;
        border: {
            color: white;
            style: solid;
            width: rem(2px);
        }
        color: $theme-color-1;
        display: inline-block;
        font-family: $heading-family;
        margin-left: rhythm(0.375);
        overflow: hidden;
        position: relative;
        text-transform: uppercase;
        transition: color 250ms;
        z-index: 0;
        
        @media (max-width: 900px) {
            margin-left: 0;
            margin-top: rhythm(1);
        }
        
        &:hover {
            background-color: transparent;
            color: white;
        }
    }
}

.news-field {
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 20%);
    max-width: 100%;
    position: relative;
    width: rem(340px);
    
    &__input {
        @include padding(null rhythm(0.75, 2px));
        
        border: {
            color: hsl(0, 0%, 97%);
            style: solid;
            width: rem(3px);
        }
        box-sizing: border-box;
        height: rhythm(2, 0px);
        line-height: rhythm(2, 0px);
        transition: border-color 250ms;
        
        &:focus {
            border-color: $theme-color-1;
        }
    }
    
    &__label {
        @include padding(null rhythm(0.75));
        
        color: hsl(0, 0%, 67.5%);
        cursor: text;
        left: 0;
        line-height: rhythm(2);
        position: absolute;
        top: 0;
    }
    
    &__input--active + &__label {
        opacity: 0;
        visibility: hidden;
    }
}

.footer {
    @include font-rhythm(-1);
    
    background-color: #3c414c;
    color: white;
    font-family: $heading-family;
    font-weight: 300;
    overflow: hidden;
    
    &__wrapper {
        @include wrapper;
        @include padding(3.5 1);
        
        text-align: justify;
    
        @media (max-width: 599px) {
            padding-top: rhythm(1.5);
            text-align: center;
        }
        
        &::after {
            content: '';
            display: inline-block;
            width: 100%;
        }    
    }
    
    &__column {
        display: inline-block;
        
        @media (max-width: 599px) {
            display: block;
            margin-top: rhythm(2);
        }
    }
    
    &__logo {
        height: $logo-height;
    }
    
    &__heading {
        font-size: inherit;
        line-height: inherit;
    }
}

.footer-address {
    margin-top: rhythm(1);
    
    &__item {
        margin-top: rhythm(0.5);
    }
    
    &__icon {
        margin-right: 0.5em;
    }
}

.footer-menu {
    margin-top: rhythm(1);
    
    &__item {
        margin-top: rhythm(0.5);
    }
    
    &__link {
        text-transform: uppercase;
    }
}

.store {
    margin-top: rhythm(1);
    
    &__item {
        margin-top: rhythm(0.5);
        width: rem(130.8px);
        
        @media (max-width: 599px) {
            @include margin(null auto);
        }
    }
    
    &__link {
        display: block;
        height: rhythm(1.5);
    }
    
    &__image {
        height: auto;
        width: 100%;
    }
}

.credits {
    @include wrapper;
    @include padding(0.5 null);
    
    &:after {
        content: '';
        display: table;
        clear: both;
    }
    
    @media (max-width: 599px) {
        text-align: center;
    }
    
    &__copy {
        @media (min-width: 600px) {
            float: left;
        }
    }
    
    &__link {
        height: rhythm(0.375);
        position: relative;
        text-align: center;
        
        @media (min-width: 600px) {
            float: right;
            margin-top: div(rhythm(1 - 0.375), 2);
        }
    }
}

.credits-link {
    position: relative;
    
    &__image {
        height: 100%;
        width: auto;
    }
    
    &__paragraph {
        @include padding(2 1 null);
        
        font-family: "Oxygen", sans-serif;
        font-style: italic;
        font-weight: normal;
        background-image: url(../img/baloon.svg);
        background-position: center;
        background-size: cover;
        bottom: 0;
        box-sizing: border-box;
        color: black;
        display: block;
        height: rhythm(8);
        left: 50%;
        position: absolute;
        transform-origin: bottom center;
        transition-property: transform;
        transition-duration: 250ms;
        transform: translateX(-50%) rotateZ(-90deg) scale(0);
        width: rhythm(10);
    }
    
    &:hover &__paragraph {
        transform: translateX(-50%) rotateZ(0deg) scale(1);
    }
}

.banner {
    @include padding($scroll-margin + 2 null 3);
    
    color: white;
    position: relative;
    z-index: 0;
    
    &__heading {
        text-align: center;
        text-transform: none;
    }
    
    &__image {
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

.breadcrumb {
    @include font-rhythm(-1);
    
    margin-top: rhythm(1);
    text-align: center;
    
    &__item {
        display: inline-block;
        
        &::after {
            content: '>';
        }
        
        &:last-child {
            &::after {
                content: none;
            }
        }
    }
}

.about {
    background: {
        image: url(../img/about.webp);
        repeat: no-repeat;
        position: right 15%;
        size: 55% auto;
    }
    text-align: center;
    
    @media (max-width: 899px) {
        background: {
            image: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0% 100%), url(../img/about.webp);
            repeat: no-repeat;
            position: right 35%;
            size: 90% auto;
        }
    }
    
    @media (max-width: 599px) {
        background: {
            position: right 20%;
        }
    }
    
    &__wrapper {
        @include wrapper;
        @include padding(3.5 null 4);
    }
    
    &__heading {
        @include font-rhythm(3);
    }
    
    &__stress {
        @include padding(0.1875 rem(4.26666px) 0.0625);
        
        background-color: $theme-color-1;
        color: white;
    }
    
    &__paragraph {
        @include font-rhythm(1.25, rhythm(1.5));
        
        margin-top: rhythm(4);
        text-align: justify;
        width: div(100%, $phi);
        
        @media (max-width: 900px) {
            @include font-rhythm(0);
            
            margin-top: rhythm(2);
            width: 100%;
        }
    }
}

.about-aside {
    @include font-rhythm(1.5, rhythm(1.5));
    
    background-color: $theme-color-1;
    color: white;
    
    @media (max-width: 899px) {
        @include font-rhythm(0);
    }
    
    &__paragraph {
        @include wrapper;
        @include padding(3 null);
    }
    
    &__stress {
        font-weight: 700;
    }
}

.details {
    @include wrapper;
    @include padding(3.5 null);
    
    text-align: center;
    
    &__heading {
        @include font-rhythm(3);
    }
    
    &__stress {
        @include padding(0.1875 rem(4.26666px) 0.0625);
        
        background-color: $theme-color-1;
        color: white;
    }
    
    &__list {
        @include margin(1 -2 null);
        position: relative;
        
        &::after {
            background-color: $theme-color-1;
            bottom: rhythm(1);
            content: '';
            display: block;
            left: 50%;
            position: absolute;
            top: rhythm(2);
            transform: translateX(-50%);
            width: rem(1px);
            
            @media (max-width: 599px) {
                content: none;
            }
        }
    }
    
    &__item {
        @include font-rhythm(-0.5);
        @include padding(null 2);
        
        box-sizing: border-box;
        display: inline-block;
        margin-top: rhythm(1);
        text-transform: uppercase;
        width: 50%;
        
        @media (max-width: 599px) {
            width: 100%;
        }
        
        &:nth-of-type(2n) {
            margin-left: rem(-4.26666px);
        }
        
        &::before {
            $size: 1.25em;
            
            background: {
                image: url(../img/h-resize-alt.svg);
                size: cover;
            }
            content: '';
            display: inline-block;
            height: $size;
            vertical-align: -10%;
            width: $size;
        }
    }
}

.contact {
    @include wrapper;
    @include padding(3.5 null 2);
    
    text-align: center;
    
    &::after {
        clear: both;
        content: '';
        display: table;
    }
    
    &__heading {
        @include font-rhythm(3);
    }
    
    &__stress {
        @include padding(0.1875 rem(4.26666px) 0.0625);
        
        background-color: $theme-color-1;
        color: white;
    }
    
    &__paragraph {
        @include font-rhythm(1.25, rhythm(1.5));
        margin-top: rhythm(1);
        
        @media (max-width: 900px) {
            @include font-rhythm(0);
        }
    }
    
    &__address {
        text-align: left;
        
        @media (min-width: 900px) {
            float: left;
            margin-top: rhythm(3);
            width: (2 - $phi) * 100%;
        }
    }
    
    &__form  {
        text-align: left;
        
        @media (min-width: 900px) {
            box-sizing: border-box;
            float: right;
            margin-top: rhythm(3);
            padding-left: rhythm(1);
            float: left;
            margin-top: rhythm(3);
            width: div(100%, $phi);
        }
    }
    
    &__group {
        margin-top: rhythm(2);
        text-align: justify;
        
        &::after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    
    &__recaptcha {
        transform: scale(0.7692307692307693);
        
        @media (min-width: 900px) {
            display: inline-block;
            vertical-align: middle;
        }
        
        @media (max-width: 899px) {
            margin-top: rhythm(0.5);
            transform-origin: left center;
        }
    }
    
    &__button {
        @include font-rhythm(0.5);
        @include padding(0.5 1);
        @include padding(rhythm(0.5, 2px) 1);
        
        background-color: $theme-color-1;
        border: {
            color: $theme-color-1;
            style: solid;
            width: rem(2px);
        }
        color: white;
        font-family: $heading-family;
        text-transform: uppercase;
        transition: background-color 250ms, color 250ms;
        
        &:hover {
            background-color: transparent;
            color: $theme-color-1;
        }
        
        @media (min-width: 900px) {
            display: inline-block;
            vertical-align: middle;
        }
        
        @media (max-width: 899px) {
            margin-top: rhythm(0.5);
        }
    }
}

.contact-address {
    @include font-rhythm(-1);
    
    &__heading {
        display: block;
    }
    
    &__item {
        margin-top: rhythm(1);
    }
    
    &__link {
        display: block;
        overflow: hidden;
    }
    
    &__icon {
        @include margin(rem(8px) 1em null null);
        
        float: left;
        height: 2em;
        width: auto;
    }
}

.contact-field {
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 20%);
    display: block;
    margin-top: rhythm(1);
    position: relative;

    @media (max-width: 899px) {
        max-width: rem(400px);
    }
    
    &__input {
        @include padding(null rhythm(0.75, 3px));
        
        border: {
            color: hsl(0, 0%, 87.5%);
            style: solid;
            width: rem(3px);
        }
        box-sizing: border-box;
        height: rhythm(2, 0px);
        line-height: rhythm(2, 0px);
        transition: border-color 250ms;
        
        &:focus {
            border-color: $theme-color-1;
        }
    }
    
    &__label {
        @include padding(null rhythm(0.75));
        
        color: hsl(0, 0%, 67.5%);
        cursor: text;
        left: 0;
        line-height: rhythm(2);
        position: absolute;
        top: 0;
    }
    
    &__input--active + &__label {
        opacity: 0;
        visibility: hidden;
    }
}

.contact-message {
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 20%);
    display: block;
    margin-top: rhythm(1);
    position: relative;
    
    @media (max-width: 899px) {
        max-width: rem(400px);
    }
    
    &__input {
        @include padding(0.375 rhythm(0.75, 3px) null);
        
        border: {
            color: hsl(0, 0%, 87.5%);
            style: solid;
            width: rem(3px);
        }
        box-sizing: border-box;
        height: rhythm(6);
        line-height: rhythm(1);
        max-height: rhythm(10);
        min-height: rhythm(2);
        resize: vertical;
        transition: border-color 250ms;
        
        &:focus {
            border-color: $theme-color-1;
        }
    }
    
    &__label {
        @include padding(null rhythm(0.75));
        
        color: hsl(0, 0%, 67.5%);
        cursor: text;
        left: 0;
        line-height: rhythm(2);
        position: absolute;
        top: 0;
    }
}

.contact-checkbox {
    @include font-rhythm(-1);
    
    color: hsl(0, 0%, 50%);
    cursor: pointer;
    
    @media (min-width: 900px) {
        display: inline-block;
        vertical-align: middle;
    }
    
    &__input {
        display: none;
    }
    
    &__icon {
        border-width: rem(1px);
        border-color: hsl(0, 0%, 50%);
        border-radius: rem(3px);
        border-style: solid;
        fill: transparent;
        height: rhythm(0.675);
        transition-duration: 250ms;
        transition-property: fill;
        vertical-align: -20%;
        width: auto;
    }
    
    &__input:checked + &__icon {
        fill: hsl(0, 0%, 30%);
    }
}

.map {
    &__heading {
        clip-path: inset(50%);
        height: rem(1px);
        overflow: hidden;
        position: absolute;
        width: rem(1px);
        white-space: nowrap;
    }
    
    &__iframe {
        width: 100%;
    }
}

.terms {
    @include wrapper;
    @include padding(3.5 null);
    
    text-align: center;
    
    & + & {
        padding-top: 0;
    }
    
    &__heading {
        @include font-rhythm(3);
    }
    
    &__stress {
        @include padding(0.1875 rem(4.26666px) 0.0625);
        
        background-color: $theme-color-1;
        color: white;
    }
    
    &__paragraph {
        @include font-rhythm(1, rhythm(1.5));
        
        margin-top: rhythm(2);
        text-align: justify;
        
        @media (max-width: 900px) {
            @include font-rhythm(0);
        }
    }
}

.top-button {
    background-color: $theme-color-1;
    position: fixed;
    right: rhythm(1);
    bottom: 0;
    transform: translateY(100%);
    transition: bottom 500ms, transform 500ms;
    
    &--show {
        bottom: rhythm(1);
        transform: translateY(0%);
    }
    
    &__icon {
        height: rhythm(1.375);
        width: rhythm(1.375);
    }
}

.tooltip {
    display: inline-block;
    
    position: relative;
    text-align: center;
}

.tooltip__heading {
    display: inline-block;
    line-height: 0;
    height: 1.5rem;
    position: relative;
    z-index: 1;
}


.tooltip__paragraph {
    font-family: "Oxygen", sans-serif;
    font-style: italic;
    font-weight: normal;
    box-sizing: border-box;
    background-image: url(../img/baloon.svg);
    background-size: 100% 100%;
    color: black;
    display: inline-block;
    display: block;
    height: 12.5rem;
    margin-top: -13.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75rem;
    padding-top: 3.4375rem;
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    transform-origin: bottom center;
    transition-duration: 0.25s;
    transform: scale(0) rotateZ(-90deg);
    width: 16.25rem;
}

.tooltip:hover .tooltip__paragraph {
    transform: scale(1) rotateZ(0deg);
}

.formulary {
    @include wrapper;
    @include padding(3.5 null 2);
    
    text-align: center;
    
    &__heading {
        @include font-rhythm(3);
    }
    
    &__stress {
        @include padding(0.1875 rem(4.26666px) 0.0625);
        
        background-color: $theme-color-1;
        color: white;
    }
    
    &__paragraph {
        @include font-rhythm(1.25, rhythm(1.5));
        margin-top: rhythm(1);
        
        @media (max-width: 900px) {
            @include font-rhythm(0);
        }
    }
    
    &__form {
        @include margin(null auto);
        
        margin-top: rhythm(2);
        text-align: left;
    }
    
    &__legend {
        @include font-rhythm(-1);
    }
    
    &__group {
        margin-top: rhythm(2);
        text-align: justify;
        
        &::after {
            content: '';
            display: inline-block;
            width: 100%;
        }
    }
    
    &__recaptcha {
        transform: scale(0.7692307692307693);
        
        @media (min-width: 900px) {
            display: inline-block;
            vertical-align: middle;
        }
        
        @media (max-width: 899px) {
            margin-top: rhythm(0.5);
            transform-origin: left center;
        }
    }
    
    &__button {
        @include font-rhythm(0.5);
        @include padding(0.5 1);
        @include padding(rhythm(0.5, 2px) 1);
        
        background-color: $theme-color-1;
        border: {
            color: $theme-color-1;
            style: solid;
            width: rem(2px);
        }
        color: white;
        font-family: $heading-family;
        text-transform: uppercase;
        transition: background-color 250ms, color 250ms;
        
        &:hover {
            background-color: transparent;
            color: $theme-color-1;
        }
        
        @media (min-width: 900px) {
            display: inline-block;
            vertical-align: middle;
        }
        
        @media (max-width: 899px) {
            margin-top: rhythm(0.5);
        }
    }
}

.formulary-field {
    @include margin(null rem(-2.13333px));
    @include padding(null 0.375);
    
    box-sizing: border-box;
    color: hsl(0, 0%, 20%);
    display: inline-block;
    margin-top: rhythm(1);
    position: relative;
    width: 100%;
    
    &:first-of-type {
        margin-left: 0;
        padding-left: 0;
    }

    &:last-of-type {
        margin-right: 0;
        padding-right: 0;
    }
    
    &--one-half {
        width: 50%;
    }
    
    &--one-sixth {
        width: div(100%, 6);
    }
    
    &--one-third {
        width: div(100%, 3);
    }
    
    &--one-fourth {
        width: 25%;
    }

    @media (max-width: 899px) {
        max-width: rem(400px);
    }
    
    &__input {
        @include padding(null rhythm(0.75, 3px));
        background-color: hsl(0, 0%, 97%);
        
        border: {
            color: hsl(0, 0%, 87.5%);
            style: solid;
            width: rem(3px);
        }
        box-sizing: border-box;
        height: rhythm(2, 0px);
        line-height: rhythm(2, 0px);
        transition: border-color 250ms;
        
        &:focus {
            border-color: $theme-color-1;
        }
    }
    
    &__label {
        color: hsl(0, 0%, 67.5%);
        cursor: text;
        left: rhythm(0.75);
        line-height: rhythm(2);
        padding-left: inherit;
        position: absolute;
        top: 0;
    }
    
    &__input--active + &__label {
        opacity: 0;
        visibility: hidden;
    }
}

.formulary-checkbox {
    @include font-rhythm(-1);
    
    color: hsl(0, 0%, 50%);
    cursor: pointer;
    
    @media (min-width: 900px) {
        display: inline-block;
        vertical-align: middle;
    }
    
    &__input {
        display: none;
    }
    
    &__icon {
        border-width: rem(1px);
        border-color: hsl(0, 0%, 50%);
        border-radius: rem(3px);
        border-style: solid;
        fill: transparent;
        height: rhythm(0.675);
        transition-duration: 250ms;
        transition-property: fill;
        vertical-align: -20%;
        width: auto;
    }
    
    &__input:checked + &__icon {
        fill: hsl(0, 0%, 30%);
    }
}